<div class="sidenav">
    <ul>
        <li class="sidenav_link" [routerLink]="['/admin/loans']" [routerLinkActive]="'sidenav_link--active'"  data-pointable="true" data-order="1">
            <a class="theme_anchor__disabled">
                <span>Loans</span>
            </a>
            <span class="material-icons material-icons-round">
                fiber_manual_record
            </span>
        </li>
        <li class="sidenav_link" [routerLink]="['/admin/earnings']" [routerLinkActive]="'sidenav_link--active'"  data-pointable="true" data-order="2">
            <a class="theme_anchor__disabled">
                <span>Earnings</span>
            </a>
            <span class="material-icons material-icons-round">
                fiber_manual_record
            </span>
        </li>
       
        <li class="sidenav_link" [routerLink]="['/admin/notify']" [routerLinkActive]="'sidenav_link--active'" data-pointable="true" data-order="3">
            <a class="theme_anchor__disabled">
                <span>Notify</span>
            </a>
            <span class="material-icons material-icons-round">
                fiber_manual_record
            </span>
        </li>
        <li class="sidenav_link" id="logout" data-order="6" data-pointable="true" (click)="logout()">
            <a>
                <span>Logout</span>
            </a>
            <span class="material-icons material-icons-round">
                fiber_manual_record
            </span>
        </li>
    </ul>
</div>