<app-side-navigation title="Password">
    <app-form [form]="form" (onSubmit)="onSubmit($event)" (errorMessageChange)="onError($event)">

        <app-input type="password" id="oldPassword" [placeholder]="'Enter your old password'" [control]="oldPassword"
            class="form-control" [error]="(errorMessage$ | async)?.oldPassword">
            <label for="oldPassword">Old Password</label>
        </app-input>
        <div [formGroup]="passwordGroup">
            <div>
                <app-input id="newPassword" type="password" placeholder="Enter your password" [control]="newPassword"
                    class="form-control" [error]="(errorMessage$ | async)?.newPassword">
                    <label for="newPassword">New Password</label>
                </app-input>
            </div>
            <div>
                <app-input id="confirmPassword" type="password" placeholder="Enter your password again"
                    [control]="confirmPassword" class="form-control" [error]="(errorMessage$ | async)?.confirmPassword">
                    <label for="confirmPassword">Confirm Password</label>
                </app-input>
            </div>
            <div *ngIf="passwordGroup.errors">
                <div *ngIf="passwordGroup.errors?.match" class="snackbar snackbar-danger">Passwords dont match</div>
            </div>
        </div>


        <div style="margin-top: 60px;">
            <app-button [form]="form" [loading$]="loading$">Change</app-button>
        </div>
    </app-form>
</app-side-navigation>

<div class="snackbar_container ">
    <div *ngIf="apiError$|async as error" class="snackbar snackbar-danger mt-3 mb-0">{{error}}
    </div>
    <div *ngIf="apiSuccess$|async as success" class="snackbar snackbar-success mt-3 mb-0">{{success}}
    </div>

</div>