<app-side-navigation title="Password">
    <app-form [form]="form" (onSubmit)="onSubmit($event)" (errorMessageChange)="onError($event)">

        <app-input id="oldPassword" [placeholder]="'Enter your old password'" [control]="oldPassword"
            class="form-control" [error]="(errorMessage$ | async)?.oldPassword">
            <label for="oldPassword">Old Password</label>
        </app-input>
        <app-input id="newPassword" [placeholder]="'Enter your new password'" [control]="newPassword"
            class="form-control" [error]="(errorMessage$ | async)?.newPassword">
            <label for="newPassword">New Password</label>
        </app-input>
        <app-input id="confirmPassword" [placeholder]="'Enter your confirm password'" [control]="confirmPassword"
            class="form-control" [error]="(errorMessage$ | async)?.confirmPassword">
            <label for="confirmPassword">Confirm Password</label>
        </app-input>


        <div style="margin-top: 60px;">
            <app-button [form]="form" [loading$]="loading$">Change</app-button>
        </div>
    </app-form>
</app-side-navigation>