<ul class="sidenav" >
        
    <li class="sidenav_link" id="personal" [routerLink]="'/my/dashboard'" [routerLinkActive]="'sidenav_link--active'"  data-pointable="true" data-order="1" (click)="onNavigate('/my/dashboard')"><a class="theme_anchor__disabled"><span>Dashboard</span></a><span class="material-icons material-icons-round">
fiber_manual_record
</span></li>
<li class="sidenav_link" id="account" data-order="2" data-pointable="true"  [routerLink]="'/my/loans'" [routerLinkActive]="'sidenav_link--active'"  (click)="onNavigate('/my/loans')"><a class="theme_anchor__disabled"><span>Loans</span></a><span class="material-icons material-icons-round">
fiber_manual_record
</span></li>
<li class="sidenav_link" id="employment" data-order="3" data-pointable="true" [routerLink]="'/my/investments'" [routerLinkActive]="'sidenav_link--active'" (click)="onNavigate('/my/investments')"><a class="theme_anchor__disabled"><span>Investment</span></a><span class="material-icons material-icons-round">
fiber_manual_record
</span></li>
<li class="sidenav_link" id="nok" data-order="4" data-pointable="true"  [routerLink]="'/my/documents'" [routerLinkActive]="'sidenav_link--active'"><a class="theme_anchor__disabled"><span>Document</span></a><span class="material-icons material-icons-round">
fiber_manual_record
</span></li>
<li class="sidenav_link" id="upload" data-order="5" data-pointable="true"  [routerLink]="'/my/profile'" [routerLinkActive]="'sidenav_link--active'"><a class="theme_anchor__disabled"><span>Account</span></a><span class="material-icons material-icons-round">
fiber_manual_record
</span></li>
<li class="sidenav_link" id="logout" data-order="6" data-pointable="true" (click)="logout()"><a><span>Logout</span></a><span class="material-icons material-icons-round">
fiber_manual_record
</span></li>

</ul>