<app-header [myclass]="headerclass"></app-header>

<div class="intro_content">

    <app-navigation [type]="navtype"></app-navigation>

    <div class="intro theme_row theme_flex theme_flex--spacebetween"
        style="text-align: center; height: 100%; width: 100%;">

        <div class="theme_col-4 theme_bg theme_color--white" id="side-content">
            <div class="logo animate__animated animate__zoomIn" style="transform: translateY(-5px); width: 200px;">
                <a href="http://vanircapital.org" target="_blank"><img src="assets/gifs/Vanir-Capital-Logo.gif"
                        alt="Vanir Capital Logo" /></a>
            </div>
            <div class="theme_flex theme_flex--middle intro_thumbnail"
                style="overflow: hidden; height: 70%; padding-right: 5%; padding-left: 5%; flex-direction: column;">
                <h1 class=" animate__animated animate__fadeInLeft">Welcome to <span
                        class="theme_color--yellow">Vanaheim</span></h1>
                <div class="animate__animated animate__fadeInLeft underline"></div>
                <!-- <div class="theme_row"> -->
                <p class="theme_text--heading3 theme_color--lightgrey animate__animated animate__fadeInLeft"
                    style="font-weight: 300">Get <span style="font-weight: 800 !important">quick loans</span> and easy
                    access to funds with a stress-free and flexible repayment period.</p>
                <p class="theme_text--heading3 theme_color--lightgrey animate__animated animate__fadeInLeft"
                    style="font-weight: 300;width: 100%; margin-top: 5px !important;">Grow your wealth by <span
                        style="font-weight: 800 !important;">earning with Vanir Cooperative today</span>. </p>

                <!-- <p class="theme_text--heading3 theme_color--lightgrey animate__animated animate__fadeInLeft" style="font-weight: 300;">Get quick loans and easy access to funds with a stress-free and flexible payment period</p>
            </div> -->
            </div>
            <div id="supportedby" class="form_group theme_color--grey" style="overflow: hidden;">
                <p class=" animate__animated animate__fadeInLeft">Supported By:</p>
                <div class="theme_row theme_flex theme_flex--spacebetween" style="align-items: center;">
                    <div class="item animate__animated animate__fadeInUp">
                        <img src="../../assets/Verified-white-logo.png" alt="Verified.NG Logo" />
                    </div>
                    <div class="item animate__animated animate__fadeInUp">
                        <img src="../../assets/Remita-Logo-White.png" alt="Remita Logo" />
                    </div>
                    <div class="item animate__animated animate__fadeInUp">
                        <img src="../../assets/crc.png" alt="Credit Bureau Logo" />
                    </div>
                </div>
            </div>
        </div>
        <div class="theme_col-8 " id="main-content">

            <div id="action_content" class=" theme_flex theme_flex--middle">
                <div class="theme_row theme_flex theme_flex--middle actions"
                    style="flex-direction: column; justify-content: space-evenly;">
                    <div class="container">
                        <div class="theme_row" style="text-align: left; margin-bottom: 10vh;">
                            <h2 class="animate__animated animate__fadeInUp" style="font-weight: 700;">How can we help
                                you?</h2>
                        </div>
                        <div class="form_group">
                            <p class="theme_color--grey animate__animated animate__fadeInUp"
                                style="text-align: left; margin: 0; padding: 0;">I am looking to:</p>
                            <div class="">
                                <div class="card card_intro animate__animated animate__fadeInUp"
                                    style="margin-top: 20px;" (click)="onNavigate('/welcome/loans')">
                                    <div>
                                        <!-- <img src="../../assets/gifs/Vanir-Capital-Loans.gif" alt="Get Loans"/> -->
                                        <!-- <lottie-player src="../../assets/animations/vanir-capital-loans.json"  background="transparent"  speed="1"  style="width: 100%;"  loop autoplay></lottie-player> -->
                                        <app-lottie [assetPath]="assetPaths.loan"></app-lottie>
                                    </div>
                                    <div style="width: 100%; text-align: left;">
                                        <h3 class="theme_text--alt">Get a Loan</h3>
                                        <p class="theme_color--grey">Quick and easy loans in 24hours or less</p>
                                    </div>
                                </div>
                                <div class="card card_intro animate__animated animate__fadeInUp"
                                    (click)="onNavigate('/welcome/earnings')">
                                    <div>
                                        <!-- <img src="../../assets/gifs/Vanir-Capital-Investment-2.gif" alt="Invest"/> -->
                                        <!-- <lottie-player src="assets/animations/vanir-capital-investment-2.json"  background="transparent"  speed="1"  style="width: 100%;"  loop autoplay></lottie-player> -->
                                        <app-lottie [assetPath]="assetPaths.investment"></app-lottie>
                                    </div>
                                    <div #invest style="width: 100%; text-align: left;">
                                        <h3 class="theme_text--alt">Earn More</h3>
                                        <p class="theme_color--grey">Earn more with Vanir Cooperative</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>

</div>
<ng-container *ngIf="show$|async">
    <div id="scroll-down_container">
        <div id="scroll-down" (click)="moveToApply()"
            class="box-shadow--warning animate__animated animate__fadeInUp animate__delay-1s">
            <!-- <span class="material-icons">arrow_downward</span> -->
            <h3>👇🏾</h3>
        </div>
    </div>
</ng-container>