@import "../../../../styles/abstracts/_abstracts-dir";

.intro_content{
   padding-bottom:30vh !important;
}
.intro{
display: flex;
width: 100%;
margin: auto;
}
.intro_content h1{
font-size: 3.5em !important;
text-align: left;
}
.intro_content{
position: relative;
}
.card{

padding: 3.5% 2.5%;
height: auto;
}
.card_intro{
/* height: 100%; */
width: 90%;
height: 100px;
min-width: 300px;
max-width: 550px !important;
display: flex;
justify-content: space-evenly;
align-items: center;
position: relative;
margin-top:40px;
border: 2px solid #E6AF2A;
}

.card_intro div{
/* height: 90%; */
width: 30%;
min-width: 80px;
align-self:center;
}

.card_intro div:first-child{
/* height: 10%; */
/* align-self:center; */
/* height: 100%; */
/* width: 30px; */
height: 130%;
max-width: 30px !important;
}
.card_intro div:nth-child(2){
margin-left: 20px;
}
.card_intro img{
max-height: 50px;
height: 100%;
object-fit: contain;
}
.card_intro h3,.card_intro p{
margin: 0px auto;
padding: 0;
transition: none !important;
}
.card_intro:hover,.card_intro:focus{
cursor: pointer;
color: #E6AF2A !important; 
background: #333333 !important;
border-color: #333333 !important;
border: 2px solid #333333 !important;
}
.card_intro:hover p, .card_intro:focus p{
color: #e0e0e0 !important;
}
.card_intro:hover h3,.card_intro:focus h3{

color: #E6AF2A !important; 
}
#supportedby{
width: 90%;
margin: auto;
}
#supportedby .theme_row{
width: 90%;
}
#supportedby .item img{
width: 100%;
object-fit: cover;
}
#supportedby .item{
width: 50px;
opacity: 0.4 !important;
cursor: pointer;
}
#supportedby .item:hover{
opacity: 0.7 !important;
}
#supportedby .item:first-child{
width: 90px;
}
#supportedby .item:nth-child(3){
width: 40px;
}
.faq{
            width: 100%;
            padding: 2.5vh 0;
            min-width: 200px;
            max-width: 450px;
            width: 80%;
        }
        .faq_section{
            width: 80%;
            min-width: 200px;
            max-width: 450px;
            margin-top: 40px;
        }
        .faq_section .title{
            text-align: left;
            border-radius: $border-radius;
        }
        .faq_section .item{
            width: 100%;
            margin-top: 20px;
        }
        .faq_section .item .question{
            display: flex;
            border: 2px solid #e0e0e0;
            padding: 10px 5%;
            text-align: center;
            cursor: pointer;
            height: 60px;
            border-radius: $border-radius;
            box-sizing: border-box;
            align-items: center;
        }
        .faq_section .item .question div:nth-child(2){
            margin-left: 30px;
            justify-self: center;
            align-self: center;
            min-width: 70%;
        }
        .faq_section .item .question:hover{
            color: #E6AF2A;
            background: #333333;
            transform: scale(1.05);
            border-color: #333333;
        }
        
        .faq_section .item .answer{
            width: 100%;
            padding: 10px 5%;
            display: none;
        }
        .faq_section .item .answer div{
            border-left: 2px solid #E6AF2A;
            padding-left:20px;
            color: #6B6B6B;
            font-weight: 400;
            margin-top: 10px;
        }
        .faq_section .item .answer li{
            margin-top: 10px;
            display: flex;
        }
        .faq_section .item .answer li div{
            border: none !important;
            padding: 0;
            overflow: initial;
        }
        .faq_section .item .answer li div:first-child{
            margin-right: 10px;
        }
        
        /* .faq_section .item .question:hover + .answer{
           display: block;
        } */
       
        .faq_section-list{
            width: 100%;
    //         max-height: 0;
    // overflow: hidden;
        }
        // .faq_section{
        //     &.open  .faq_section-list{
                
        //         display: block;
        //     }
        //     &.close  .faq_section-list{
        //         display: none;
        //     }
            
        // }
        .faq_section .title{
            background: #e0e0e0;
            padding: 0 10%;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 60px;
            box-sizing: border-box;
        }
        .faq_section .title:hover{
            transform:scale(1.05) ;
        }
        /* .faq_section-list.active{
            display: flex;
            flex-direction: column;
        } */
        /* .faq_section .title:hover + .faq_section-list{
            display: flex;
            flex-direction: column;
        } */
        .container{
            width: 80%;
        }
        .intro_content{
            padding-bottom: 20vh !important;
        }
        .faq{
            padding-bottom: 20vh !important;
        }
@media all and (max-width: 1233px){

.intro{
display: block;
}
.container{
width: 100%;
padding: 0 5%;
}
.theme_col-4{
margin-top: 0 !important;
padding-bottom: 5vh;
text-align: center !important;
}
.theme_col-4 div div{
margin:10px auto !important;
margin-top: 0 !important;
}
.theme_col-4, .theme_col-8{
width: 100%;
position: relative;
display: block;
height: auto !important;
}
.theme_col-8 .action_content{
min-height: 200px !important;
padding-top: 5vh;
}
.theme_col-8 .action_content .form_group{
max-width: 100% !important;
}

.theme_col-8 .action_content{
margin: auto;
width: 100%;
text-align: center;
}
/* .theme_col-8  */

.theme_col-4{
margin-top: 20vh;
}
.card_intro{
height: auto;
max-width: 100%;
padding-top: 20px;
padding-bottom: 20px;
}
.faq{
max-width: 550px;
}


}
@media all and (max-width: 900px){

/* .theme_col-4, .theme_col-8{
width: 100%;
position: relative;
display: flex;
height: auto !important;
}
.theme_col-4{
margin-top: 20vh;
} */

.logo{
display: none;
}

.faq{
width: 100% !important;
}
.action_content + div{
margin-top: 10vh !important;
}
.intro_thumbnail{
/* margin-top: 40px; */
padding-top: 10vh;
}
.intro_thumbnail h1{
text-align: center !important;
}
.card_intro{
width: 100%;
height: 90px;
}
#faq{
            padding-bottom: 80px !important;
        }
        .faq{
            padding-bottom: 5vh !important;
        }
        section{
            padding-bottom: 20vh;
        }
}
