@import "../../../../styles/abstracts/_abstracts-dir";
@import '../../../../styles/themes/_theme-dir';
.intro_content{
//    padding-bottom:30vh !important;
   margin-left: 0; padding-bottom: 0; width: 100vw; height: 100vh; position: fixed; top:0;
}
.intro{
display: flex;
width: 100%;
margin: auto;
}
.intro_content h1{
font-size: 2.8em !important;
text-align: left;
}
#side-content{
    padding-left: 1.5%; text-align: left; padding-top: 2%; padding-right: 1.5%; height: 100vh;
}
#action_content{
    width: 100%; height:100%; flex-direction: column;
}
#main-content{
height: 100vh; overflow-y: auto;
display: flex;
align-items: center;
width: 100%;
}
.card{

padding: 3.5% 2.5%;
height: auto;
}
.card_intro{
/* height: 100%; */
width: 90%;
height: 120px;
min-width: 300px;
max-width: 550px !important;
display: flex;
justify-content: space-evenly;
align-items: center;
position: relative;
margin-top:40px;
@include border(2px, solid,yellow);
}

.card_intro div{
/* height: 90%; */
width: 30%;
min-width: 80px;
align-self:center;
}

.card_intro div:first-child{
/* height: 10%; */
/* align-self:center; */
/* height: 100%; */
/* width: 30px; */
height: 130%;
max-width: 30px !important;
}
.card_intro div:nth-child(2){
margin-left: 20px;
}
.card_intro img{
max-height: 50px;
height: 100%;
object-fit: contain;
}
.card_intro h3,.card_intro p{
margin: 0px auto;
padding: 0;
transition: none !important;
}
.card_intro:hover,.card_intro:focus{
cursor: pointer;
@include color(yellow, important); 
@include background(black,important);
border-color: map-get($colors, black) !important;
border: 2px solid map-get($colors, black) !important;
}
.card_intro:hover p, .card_intro:focus p{
    @include color(lightGrey, important); 
}
.card_intro:hover h3,.card_intro:focus h3{

    @include color(yellow, important); 
}
#supportedby{
width: 90%;
margin: auto;
}
#supportedby .theme_row{
width: 90%;
}
#supportedby .item img{
width: 100%;
object-fit: cover;
}
#supportedby .item{
width: 50px;
opacity: 0.4 !important;
cursor: pointer;
}
#supportedby .item:hover{
opacity: 0.7 !important;
}
#supportedby .item:first-child{
width: 90px;
}
#supportedby .item:nth-child(3){
width: 40px;
}
        .container{
            width: 80%;
        }
        .intro_content{
            // padding-bottom: 20vh !important;
        }
        

        #scroll-down{
            &_container{
                position: fixed;
                bottom: 5%;
                @include flex(true,center);
                display: none;
                width: 100%;
                z-index: 9;
            }
            width: 40px;
            height: 40px;
            border-radius: 100%;
            @include background(midYellow);
            @include color(white);
            @include flex(true,center);
            
  box-shadow: 1px 1px 15px map-get($colors, midYellow);
  transform: scale(1);
	animation: pulse 1s infinite ease-in-out;

        }
.underline{
    width: 20%; height: 5px; @include background(yellow); margin: 20px 0; justify-self: start; align-self: flex-start;
    border-radius: 2px;
}
        @keyframes pulse {
            0% {
                transform: scale(0.95);
                box-shadow: 1px 1px 0 map-get($colors, midYellow70);
            }
        
            70% {
                transform: scale(1);
                box-shadow: 1px 1px 25px map-get($colors, midYellow00);
            }
        
            100% {
                transform: scale(0.95);
                box-shadow: 1px 1px 0px map-get($colors, midYellow00);
            }
        }
@media all and (max-width: 1233px){
.intro_content{
    position: relative !important;
    overflow-y: auto;
    height: auto !important;
}
.intro{
display: block;
}
.container{
width: 100%;
padding: 0 5%;
}
#main-content{
    height: auto;
}
#side-content div div{
margin:10px auto !important;
margin-top: 0 !important;
}
#side-content, .theme_col-8{
width: 100%;
position: relative;
display: block;
height: auto ;
}
#side-content{
    margin-top: 0 !important;
    padding-bottom: 5vh;
    text-align: center !important;
    height: 60vh;
    }
.theme_col-8 #action_content{
min-height: 200px !important;
padding-top: 5vh;
}
.theme_col-8 #action_content .form_group{
max-width: 100% !important;
}

.theme_col-8 #action_content{
margin: auto;
width: 100%;
text-align: center;
}
/* .theme_col-8  */

#side-content{
margin-top: 20vh;
}
.card_intro{
max-width: 100%;
padding-top: 20px;
padding-bottom: 20px;
}



}
@media all and (max-width: 768px){

/* #side-content, .theme_col-8{
width: 100%;
position: relative;
display: flex;
height: auto !important;
}
#side-content{
margin-top: 20vh;
} */
#scroll-down{
    &_container{
        display: flex;
    }
}
#side-content{
    height: 100vh !important;
    div div{
        margin-left: 0 !important;
    }
    #supportedby{
        text-align: left;
       
    }
}
#main-content{
    height: 100vh !important;
}
.logo{
display: none;
}

.faq{
width: 100% !important;
}
#action_content + div{
margin-top: 10vh !important;
}
.intro_thumbnail{
/* margin-top: 40px; */
padding-top: 10vh;
h1{
    // text-align: center !important;
    margin-bottom: map-get($sizings, "px");
    }
    *{
        text-align: left !important;
    }
}
.card_intro{
width: 100%;
height: 120px;
}
#faq{
            padding-bottom: 80px !important;
        }
        .faq{
            padding-bottom: 5vh !important;
        }
        // section{
        //     padding-bottom: 20vh;
        // }
}
