@import '../../../../styles/abstracts/_abstracts-dir';
@import '../../../../styles/themes/_theme-dir';
#dashboard-content{
    @include flex(true,center);
    // @include paddingVertical(true,"vh",2);
    height: 100%;
    #main-content{
        @include flex(horizontal,space-between);
        width: 100%;
        height: 100%;
        .item{
            width: 47.5%;
            min-height: 65vh;
            border-radius: $border-radius;
            box-sizing: border-box;
            // background: map-get($colors, midYellow );
            &:first-child{
                // background: map-get($colors, lightYellow );
                border: 0.5px solid map-get($colors, lightGrey );
                @include paddingVertical(true,"px",1)
            }
            &:nth-child(2){
                @include paddingHorizontal(true,"px",1);
                @include paddingVertical(true,"px",1);
                max-height: 500px;
            }
        }
    }
}

@media all and (max-width:900px){
    #dashboard-content{
    #main-content{
        flex-direction: column;
        .item{
            width: 100%;
            min-height: 60vh;
            margin-bottom: map-get($sizings, "px")*2;
        }
    }
}
}