.alert{
    width: 100%;
    margin-top: 10px;
    // box-sizing: border-box;
    padding: 7px 10px;
    color:  rgb(252, 78, 113);
    background: rgb(255, 240, 234);
    border-radius: 5px;
    opacity: 0;
    transform: translateY(10px);
    animation: FadeIn 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s forwards;
}
@keyframes FadeIn{
    to{
        opacity: 100;
        transform: translateY(0);
    }
}