#loan-content 
{
    &.loggedIn{
    div#form{
    min-width: 500px !important;
}
    }
}

#form{
    position: relative;
    z-index: 0;

}




@media all and (max-width:900px){
    #loan-content 
{
    &.loggedIn{
    div#form{
    min-width: 0 !important;
    margin-top: 10%;
}
    }
    form{
        padding-top: 10px;
    }
}

}