.vc_form-field{
    position: relative;
    .invalid-feedback{
        display: none;
    }
    label{
        @include font(small);
        @include flex(horizontal,space-between);
        font-weight: map-get($font-weights, "semi-bold" );
    }
    input, textarea{
        @include font(text);
        @include paddingHorizontal(false,"px",0.5,0.5);
        width:100%;
        height:45px;
        display:block;
        border:2px solid #E0E0E0;
        border-radius:2px;
        box-sizing:border-box;
        background:transparent;
        transition:ease-in-out 0.3s;
        line-height:1.5em;
        // &:[type="checkbox"]{

        // }
   }
   textarea{
       height: auto;
       min-height: 100px;
   }
    input[type="range"] {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin: auto; /* Full-width */
        height: 10px; /* Specified height */
        background: map-get($colors, lightGrey); /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
        border: none;
        position: relative;
            /* Mouse-over effects */
        &:hover {
            opacity: 1; /* Fully shown on mouse-over */
        }
        
        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
        &::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 20px; /* Set a specific slider handle width */
            height: 20px; /* Slider handle height */
            background: map-get($colors, black); /* Green background */
            cursor: pointer; /* Cursor on hover */
            position: relative;
           
           
        }

          &+.range-value{
            position: absolute;
            bottom: -50%;
            z-index: 4;
            span{
                width: 60px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                background: map-get($colors, lightGrey);
                color: map-get($colors, black);
                font-size: 12px;
                display: block;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                border-radius: 6px;
              }
              span:before{
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 10px solid map-get($colors, lightGrey);
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                margin-top: -1px;
              }
          }
         
        // &::after{
        //     @include paddingVertical(true,"px",0.25);
        //     content: attr(value);
        //     position: absolute;
        //     width: 50px;
        //     height: auto;
        //     border-radius: $border-radius;
        //     background: map-get($colors, lightGrey);
        //     top: 120%;
        // }
        // &::-moz-range-thumb {
        //     width: 20px; /* Set a specific slider handle width */
        //     height: 20px; /* Slider handle height */
        //     background: map-get($colors, black); /* Green background */
        //     cursor: pointer; /* Cursor on hover */
           
        // }
      }
      
  
    &--hidden 
    {
        margin: 0 !important;
        padding: 0 !important;
    input{
        visibility: hidden;
        height: 0!important;
        box-sizing: content-box;
        padding: 0 !important;
        margin:0 !important;
        border:none !important;
    }
}
input.is-invalid{
    // border-color: red !important;
    position: relative;
    outline: none;
   border-bottom-color: rgb(255, 113, 142) !important;
    // border-bottom-width: 0px !important; 
    transition: 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
div.is-invalid{
&+.invalid-feedback{
    @include font(small);
    display: block;
    width: 100%;
    margin-top: 5px;
    // box-sizing: border-box;
    padding: 7px 10px;
    color:  rgb(252, 78, 113);
    background: rgb(255, 240, 234);
    border-radius: 2px;
    // opacity: 0;
    // transform: translateY(10px);
    position: absolute;
    word-wrap: break-word;
    height: auto;
    top: 30%;
    right: 110%;
    &--default{
        position: relative;
        right: 0;
        
    }
    // animation: FadeIn 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s forwards;
    &--right{
        right: unset;
        left: 110%;
    }
}
}
}
input:hover,.widget_input:hover{background:rgb(245,244,240);border:2px solid map-get($colors,  lightYellow)!important}
input::placeholder,.widget_input::placeholder{color:rgb(211,211,211);font-family:'Manrope','Open Sans',sans-serif;font-style:normal;font-weight:400;font-size:14px;line-height:1.5em;text-transform:capitalize}

@keyframes AnimateIn{
    to{
        // border-bottom-width: 100% !important;
        border-bottom: solid 2px rgb(245, 30, 73) !important;
    }
}

@keyframes FadeIn{
    to{
        opacity: 100;
        transform: translateY(0);
    }
}

@media all and (max-width:900px){
    .vc_form-field{
        input.is-invalid{
    &+.invalid-feedback{
        position: relative;
    }
}
}
}