<!-- <div class="vc_form-field form_group {{fieldClass}}">
  <ng-content select="[slot=label]"></ng-content>
  <div class="dropdown {{class}}">

    <app-input id="{{id}}" (click)="toggle()" [control]="control" class="form-control">
      <ng-content select="[slot=label]"></ng-content>
    </app-input>
    <div class="dropdown-options box-shadow animate__animated animate__fadeInUp animate__faster" *ngIf="show$|async">

      <button class="option {{item.class}}" (click)="selectOption(item)" type="button" [attr.aria-label]="item.value"
        *ngFor="let item of dropdownItems$ | async" role="option">
        <ng-container *ngIf="item.content">

          <ng-container *ngTemplateOutlet="item.content">
          </ng-container>
        </ng-container>

      </button>
    </div>
  </div>
</div> -->

<div class="vc_form-field form_group {{fieldClass}}">
  <ng-content select="[slot=label]"></ng-content>
  <div class="dropdown {{class}}">

    <app-input (click)="show()" [control]="currentControl" class="form-control">
    </app-input>
    <div class="dropdown-options box-shadow animate__animated animate__fadeInUp animate__faster" *ngIf="(show$|async) ">

      <button class="option option_{{i}}" (click)="selectOption(item)" type="button" [attr.aria-label]="item.value"
        *ngFor="let item of filteredItems$|async; let i=index" role="option">
        {{item.value}}

      </button>
    </div>
  </div>
</div>


<ng-container *ngIf="control">
  <app-input [hidden]="true" fieldClass="vc_form-field--hidden" id="{{id}}" [control]="control" class="form-control">
  </app-input>
</ng-container>