<!-- <div class="form_group" style="margin-top: 0;">
    <button class="widget_button {{myclass}}" type="submit"
    
    [title]="form&&form.valid?'Save your entered data':'Disabled until form data is valid'" 
    [disabled]="form &&!form.valid"><div>{{options.text}}</div><div class="widget_button--loader"><img src="assets/button-loader.gif" /></div></button>
  
    </div>

  -->


  <div class="form_group {{fieldClass}}">
  <button class="widget_button {{class}}" type="submit" [ngClass]="{'loading':(loading$|async)==true}"
                            
  [title]="form&&form.valid?'You can log in now':'Please fill the form first'" 
  [disabled]="form &&!form.valid"><div><ng-content></ng-content></div><div class="widget_button--loader"><img src="assets/button-loader.gif" /></div></button>

  </div>
