<!-- <div class="form_group" style="margin-top: 0;">
    <button class="widget_button {{myclass}}" type="submit"
    
    [title]="form&&form.valid?'Save your entered data':'Disabled until form data is valid'" 
    [disabled]="form &&!form.valid"><div>{{options.text}}</div><div class="widget_button--loader"><img src="assets/button-loader.gif" /></div></button>
  
    </div>

  -->

<ng-container *ngIf="form">
  <div class="form_group {{fieldClass}}">
  <button #btn class="widget_button {{class}} widget_button--{{color}}" type="submit" [ngClass]="{'loading':(loading$|async)==true}"
                            
  [title]="form&&form.valid?'You can proceed':title" 
  [disabled]="form &&!form.valid"><div><ng-content></ng-content></div><div class="widget_button--loader"><img src="assets/button-loader.gif" /></div></button>

  </div>
</ng-container>


<ng-container *ngIf="!form">
  <div class="form_group {{fieldClass}}">
  <button class="widget_button {{class}} widget_button--{{color}}"  [title]="title" type="button" (click)="handleClick($event)"><div><ng-content select="[slot=button]"></ng-content></div></button>
</div>
  </ng-container>