<div class="footer" style="width: 100%; position: relative; margin: 10vh auto; margin-bottom: 40px; text-align: center; padding-left: 5%; padding-right: 5%;"> 
    <div class="theme_row theme_color--grey" style="text-align: center; margin-bottom: 40px;">
        <p>16B Aliu Animashaun Avenue, Lekki Phase 1, Lagos</p>
        <p>support@vanircapital.org</p>
        <p>0818 027 9270</p>
    </div>
    <div class="theme_row" style="display: flex; justify-content: center;">
        <div class="theme_color--grey" style="margin:auto;display: flex; align-self: center; width: auto;">
        <a href="https://www.instagram.com/vanircapital/?igshid=16udnitg8jich" target="_blank" aria-label="Follow Us On Instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/VanirCapital" target="_blank" aria-label="Follow Us On Twitter"><i class="fab fa-twitter"></i></a>
        <a href="https://web.facebook.com/VanirCapital/?_rdc=1&_rdr" target="_blank" aria-label="Follow Us On Facebook"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/company/vanircapitalllc" target="_blank" aria-label="Follow Us On Linked In"><i class="fab fa-linkedin"></i></a>
    </div>
    </div>
    <div class="theme_row"><p>All rights reserved by Vanir Capital LLC</p></div>
</div>