#page-content{ left: 0;
  width: 100%; position: fixed;
    &.loggedIn{
     
      width: 85vw; left: 15vw; 
    }
}

@media all and (max-width:768px){
    #page-content{
      width: 100%;
      left: 0;
    }
  }