<div id="customer-header">
    <div class="d-flex d-flex_vertical--center">
<span id="menu-bar" style="cursor: pointer;" class="material-icons" (click)="toggleSideNav('mainNav')">
    menu
</span>
    <div id="greetings" (click)="onNavigate('/')">
        <div><img src="../../../../assets/icons/sun.svg"/></div>
        <div><small>Rise and Shine</small><p style="margin:0;font-weight: 700;"><b>{{user.firstName}}</b></p></div>
    </div>
</div>
    <div id="actions">
            <div class="bordered_anchor widget_button--icon item" (click)="toggleSideNav('faq')"><div class="icon"><img src="../../../../../assets/icons/questions.svg"/></div><span>Questions</span></div>
            <!-- <div id="notify" class="theme_bg--lightgrey widget_button--icon item" (click)="toggleSideNav('notification')"><div class="icon"><img src="../../../../../assets/icons/bell.svg"/></div></div> -->
            
    </div>
</div>
