<!-- 
    <app-modal *ngIf="showModal" [type]="modalType"></app-modal> -->
<div id="scrolldown" class="theme_color--grey"
    style="position: absolute; bottom:2.5%; left:40%; font-size: 0.8em; display: flex;">
    <div>Scroll Down To Apply</div>
    <div style="font-size:1.1em; transform: rotateZ(90deg); margin-left: 10px;">👆🏾</div>
</div>
<app-header [myclass]="headerclass"></app-header>
<div class="investment_content theme_inline-block grid-padding-3x">
    <div class="theme_row" style=" padding-top: 2.5%;">
        <div class="main_container">
            <div>
                <app-navigation [type]="mobile"></app-navigation>
                <div class="investment theme_row" style="position:relative;">
                    <app-navigation [type]="desktop"></app-navigation>
                    <div class="theme_col-7 theme_color investment_background"
                        style="padding-right: 5%; padding-top: 7%;z-index: 1;">

                        <div class="copy" style="overflow-x: hidden; margin-top: 0;">
                            <p class="theme_text--heading1 animate__animated animate__fadeInLeft"><span
                                    class="theme_color--yellow">Diversify </span><span>and earn</span><span
                                    class="theme_color--yellow"> Passive</span> <span> income</span></p>
                            <p><b>Earn more with Vanir Capital Cooperative</b></p>
                            <div class="animate__animated animate__fadeIn"
                                style="width: 100%; max-width: 200px; margin-bottom: 30px; display:flex ; justify-content: flex-start;">
                                <app-lottie [assetPath]="assetPaths.investment"></app-lottie>
                            </div>
                        </div>
                    </div>
                    <div class="theme_col-12" style="height: 100%; z-index: 2;">

                        <app-investment-form></app-investment-form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



<app-modal *ngIf="(show$|async)" (onChange)="close()">
    <app-modal-header slot="header">
        <div class="icon theme_flex theme_flex--middle" style="max-width: 150px; margin: auto; margin-top:-5%;">
            <app-lottie assetPath="vanir-capital-badge"></app-lottie>

        </div>
    </app-modal-header>
    <app-modal-body slot="body">

        <div class="modal_content" style="text-align: center;">
            <h1>Investment Indication</h1>
            <div class="form_group">
                <p class="theme_text--heading theme_text--heading3">{{apiSuccess$|async}}</p>

            </div>
            <div class="form_group">
                <!-- <p class="theme_color--grey">Thank you for filling out the application and choosing Vanir Capital. You would be notified as your request is processed. </p> -->
                <button class="widget_button" (click)="close()" id="submit" type="submit" style="margin: 5px auto;"
                    tabindex="0">
                    <div>Done</div>
                </button>
                <p class="theme_color--grey">Are you looking to get some funds? <span class="theme_color--yellow"><a
                            href="welcome/loans"><u>Go to Loans</u></a></span></p>

            </div>

        </div>


    </app-modal-body>
</app-modal>



<app-modal *ngIf="(show2$|async)" (onChange)="close()">
    <app-modal-header slot="header">
        <div class="icon theme_flex theme_flex--middle" style="max-width: 150px; margin: auto; margin-top:-5%;">
            <app-lottie assetPath="vanir-capital-error"></app-lottie>

        </div>
    </app-modal-header>
    <app-modal-body slot="body">

        <div class="modal_content" style="text-align: center;">

            <h1>Oops</h1>
            <div class="form_group">
                <p class="theme_text--heading theme_text--heading3">There seems to be a problem</p>
            </div>
            <div class="form_group">
                <p class="theme_color--grey">{{apiError$|async}} </p>
                <app-button (onClick)="close()">
                    <ng-container slot="button">Close</ng-container>
                </app-button>

            </div>
        </div>


    </app-modal-body>
</app-modal>