@import "../../../styles/styles.scss";
.toast {
    @include flex(vertical,center);
    @include flex(horizontal,space-between);
    @include paddingVertical(true,"px",0.5);
    @include paddingHorizontal(true,"px",0.5);
    visibility: hidden;
    // width: 90%;
    margin: auto;
    background-color:map-get($colors,black);
    color: map-get($colors,yellow);
    text-align: center;
    border-radius: $border-radius;
    overflow: hidden;
    position: fixed;
    z-index: 99999;
    right: 5%;
    bottom: 5vh;
    transition: ease-in-out 0.3s;
    @include dropshadow(0px,5px,15px, map-get($colors,black),0.4);
    &_button{
        width: 80px;
        margin-left: 10px;
        // height: 50px;
        .widget_button--small{
            background: map-get($colors,yellow);
            // border:1px solid map-get($colors,white);
            // background: transparent !important;
            color: map-get($colors,white);
        }
    }
    &.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, expand 0.5s 0.5s;
        animation: fadein 0.5s, expand 0.5s 0.5s;
        animation-fill-mode: forwards;
    }
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 15vh; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px}
    to {min-width: 30%}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 30%}
}
