

@import '../../../../../styles/abstracts/_abstracts-dir';
@import '../../../../../styles/themes/_theme-dir';
.dd{ 
  
  white-space: nowrap;
  overflow:auto;
//   &::-webkit-scrollbar{
//   display: none;
// }
  
  &-container {
    width: 300px;
    max-width: 100%;
    height: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    @include border(2px,solid,black);
    border-top: 0;
    padding-top: 0;
    border-radius: $border-radius;
  //  &.disabled{
  //    pointer-events: none;
  //    cursor: not-allowed;
  //  }
  }
  &-title{
    width: 100%;
    height: map-get($sizings, "px") * 1.5;
    border-radius: $border-radius;
    @include background(black);
    box-sizing: border-box;
    @include paddingHorizontal(true,"px",0.6);
    @include flex(vertical,center);
    @include color(white);
  }
  
  &-list {
    // border: solid 1px #ccc;
    min-height: 60px;
    height: 70vh;
    overflow: hidden;
    overflow-y: auto;
    background: rgb(245, 245, 245);
    border-radius: $border-radius;
    display: block;
    @include paddingHorizontal(true,"px",0.25);
    @include paddingVertical(true,"px",0.5);

  }
  
  
  &-box {
    margin-bottom: map-get($sizings, "px")*0.5;
    &-content{
      padding: 20px 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    cursor: move;
    border-radius: $border-radius;
    @include background(white);
    .dot{
      width: 10px;
      height: 10px;
      border-radius: 10px;
    }
    .new{
      @include background(facebook);
    }
    .processing{
      @include background(yellow);
    }
    .update{
      @include background(grey);
    }
    .declined{
      @include background(google);
    }
    .approved{
      @include background(green);
    }
    .funded{
      @include background(white);
    }
    }
  }
}
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: $border-radius;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  
  .dd-box:last-child {
    border: none;
  }
  
  
  .dd-list.cdk-drop-list-dragging .dd-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  

