<div class="{{myclass}} animate__animated animate__fadeInDown theme_bg theme_flex theme_flex--spacebetween" style="width: 100vw; height: 80px; align-items: center; padding-left: 2.5%;padding-right: 2.5%;">
    <div class="logo animate__animated animate__zoomIn" style="transform: translateY(-5px);">
        <a href="http://vanircapital.org" target="_blank"><img src="../../assets/gifs/Vanir-Capital-Logo.gif" alt="Vanir Capital Logo" /></a>
    </div>
   
    <!-- <div class="animate__animated animate__zoomIn">
        <button class="widget_button widget_button--small" id="getstarted" >Get Started</button>
    </div> -->

    <app-button [options]="buttonOptions"></app-button>
    
</div>