<div class="{{myclass}} animate__animated animate__fadeInDown theme_bg theme_flex theme_flex--spacebetween" style="width: 100vw; height: 80px; align-items: center; padding-left: 2.5%;padding-right: 2.5%;">
    <div class="logo animate__animated animate__zoomIn" style="transform: translateY(-5px);">
        <a href="http://vanircapital.org" target="_blank"><img src="../../assets/gifs/Vanir-Capital-Logo.gif" alt="Vanir Capital Logo" /></a>
    </div>
   
    <!-- <div class="animate__animated animate__zoomIn">
        <button class="widget_button widget_button--small" id="getstarted" >Get Started</button>
    </div> -->
    <div style="display: flex; align-items: center; justify-content: space-between;min-width: 20%;">
        <div class="bordered_anchor widget_button--icon theme_color--white" (click)="toggleSideNav()" ><div class="icon"><img src="../../../../../assets/icons/questions.svg"/></div><span>Questions</span></div>
        <!-- <div class="bordered_anchor"><a href="/">About Us</a></div> -->
        <div class="bordered_anchor theme_color--white" ><a [routerLink]="['/auth/account']">Login</a></div>
        <div style="margin-right: 15px;"><app-button [options]="buttonOptions"></app-button></div>
    </div>
</div>