
<div class="snackbar_container ">
<div *ngIf="apiError$|async as error" class="snackbar snackbar-danger mt-3 mb-0">{{error}}
</div>
<div *ngIf="apiSuccess$|async as success" class="snackbar snackbar-success mt-3 mb-0">{{success}}
</div>

</div>
<div id="login" class="grid-padding-2x">
    <div class="container">
       
        <div class="content box-shadow animate__animated animate__fadeInUp">
            <div class="container-header text-center">
                <h3 class="title">Create your account</h3>
                <p>Become a member and access greater wealth</p>
                <small>Sign up with</small>
                <div id="social-login">
                    <!-- <div > -->
                        <div class="item" (click)="loginWithFacebook()">
                            <p><b>f</b></p>
                        </div>
                        <div class="item"  (click)="loginWithGoogle()">
                            <p><b>G</b></p>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- <div class="content"> -->
                <app-form [form]="form" (onSubmit)="onSubmit($event)"  (errorMessageChange) = "onError($event)">
                    <div class="theme_row grid-2x1">
                        <div class="theme_col-6">
                            <!-- <div *ngIf="(errorMessage$ | async) as errors"></div> -->
                            <div class="vc_form-field form_group" style="margin-top: 0;">
                                <label for="firstName">First Name</label>
                                <input type="text" id="firstName" [formControl]="firstName" class="form-control" [ngClass]="{ 'is-invalid':(firstName.touched || firstName.dirty) && !firstName.valid }" autocomplete="name" />
                                <div *ngIf="(errorMessage$ | async)?.firstName as errors" class="invalid-feedback">
                                    <div >{{errors}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="theme_col-6">
                            <div class="vc_form-field form_group" style="margin-top: 0;">
                                <label for="lastName">Last Name</label>
                                <input type="text" id="lastName" [formControl]="lastName" class="form-control" [ngClass]="{ 'is-invalid': (lastName.touched || lastName.dirty) && !lastName.valid}" autocomplete="family-name" />
                                <div *ngIf="(errorMessage$ | async)?.email as errors"class="invalid-feedback invalid-feedback--right">
                                    <div>{{errors}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="theme_row grid-2x1">
                        <div class="theme_col-6">
                            <div class="vc_form-field form_group" >
                                <label for="email">Email Address</label>
                                <input type="text"  id="email"  [formControl]="email" class="form-control" [ngClass]="{ 'is-invalid':(email.touched || email.dirty) && !email.valid}" autocomplete="email" />
                                <div *ngIf="(errorMessage$ | async)?.email as errors" class="invalid-feedback">
                                    <div>{{errors}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="theme_col-6">
                            <div class="vc_form-field form_group" >
                                <label for="phone">Phone Number</label>
                                <input type="text" id="phone" [formControl]="phone" class="form-control" [ngClass]="{ 'is-invalid': (phone.touched || phone.dirty) && !phone.valid}" autocomplete="tel" />
                                <div *ngIf="(errorMessage$ | async)?.phone as errors" class="invalid-feedback invalid-feedback--right">
                                    <div>{{errors}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="theme_row grid-2x1"  [formGroup]="passwordGroup">
                        <div class="theme_col-6">
                            <div class="vc_form-field form_group" >
                                <label for="password">Password</label>
                                <input type="password" id="password" [formControl]="password" class="form-control" [ngClass]="{ 'is-invalid': (password.touched || password.dirty) && !password.valid }" />
                                <div *ngIf="(errorMessage$ | async)?.password as errors" class="invalid-feedback">
                                    <div>{{errors}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="theme_col-6">
                            <div class="vc_form-field form_group" >
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" id="confirmPassword" [formControl]="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': (confirmPassword.touched || confirmPassword.dirty) && !confirmPassword.valid }" />
                                <div *ngIf="(errorMessage$ | async)?.confirmPassword as errors" class="invalid-feedback invalid-feedback--right">
                                    <div>{{errors}}</div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="passwordGroup.errors">
                            <div *ngIf="passwordGroup.errors?.match" class="snackbar snackbar-danger">Passwords dont match</div>
                        </div>
                    </div>
                    <div class="vc_form-field form_group">
                        <label for="password">How did you get to know about us?</label>
                        <!-- <input type="password" [formControl]="password" class="form-control" [ngClass]="{ 'is-invalid': f.password.errors }" />
                        <div *ngIf="f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div> -->
                        <!-- <custom-select [required]="true"
                        label="How did you get to know about us?"
                        placeholder="Select a channel"
                        controlName="channel"
                        >
           <custom-select-option key="1" value="Paris"></custom-select-option>
           <custom-select-option key="2" value="Mauritius"></custom-select-option>
           <custom-select-option key="3" value="Singapore"></custom-select-option>
           <custom-select-option key="4" value="Malaysia"></custom-select-option>
           <custom-select-option key="5" value="Goa"></custom-select-option>
           <custom-select-option key="6" value="Thailand"></custom-select-option>
         </custom-select> -->
                            <select id="month" required>
                              <option value="January" data-display-text="January" aria-label="January">January</option>
                              <option value="February" aria-label="February">February</option>
                              <option value="March" aria-label="March">March</option>
                              <option value="April" aria-label="April">April</option>
                              <option value="May" aria-label="May">May</option>
                              <option value="June" aria-label="June">June</option>
                              <option value="July" aria-label="July">July</option>
                              <option value="August" aria-label="August">August</option>
                              <option value="September" aria-label="September">September</option>
                              <option value="October" aria-label="October">October</option>
                                <option value="November" aria-label="November">November</option>
                                  <option value="December" aria-label="December">December</option>
                              
                            </select>
                    </div>
                
                    <div class="form_group" style="margin-top: 0;">
                        <button class="widget_button" type="submit" [ngClass]="{'loading':(loading$|async)==true}"
                        
                        [title]="form&&form.valid?'You can register now':'Please fill the form first'" 
                        [disabled]="form &&!form.valid"><div>Register</div><div class="widget_button--loader"><img src="assets/button-loader.gif" /></div></button>
                      
                        </div>
                        <div class="form_group" style="margin-top: 0; display: flex; justify-content: center;">
                            <div style=" display: flex; ">
                            <p><b>Already have an account?</b></p> <button class="widget_button widget_button--small" style="margin-left: 10px;" (click)="onNavigate('auth/login')">Login</button>
                        </div>
                        </div>
                    
                </app-form>
            <!-- </div> -->
        </div>
    </div>
</div>