@import '../../../../styles/styles.scss';
#login{
    // @include flex(vertical,center);
    
    .container{
        @include flex(both,center);
        @include paddingVertical(true,"px",0);
        transform: translateY(-5vh);
        small{
            color: map-get($colors, grey )
        }
        &-header{
            @include flex(both,center);
            flex-direction: column;
            #social-login{
                @include marginVertical(false,"px",0.25,0.5);
                @include flex(horizontal,space-between);
                // width:map-get($sizings,"px" )* 4;
                .item{
                    // border-radius: map-get($sizings,"px" ) * 1.2;
                    // width: map-get($sizings,"px" ) * 1.2;
                    // height: map-get($sizings,"px" ) * 1.2;
                    // color: map-get($colors, white );
                    @include paddingVertical(true,"px",0.1);
                    @include paddingHorizontal(true,"px",0.5);
                    border:1px solid black;
                    @include flex(both,center);
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                }
                .item:hover{
                    transform: scale(1.05);
                }
                .item:first-child{
                    border-color: map-get($colors, facebook );
                    color: map-get($colors, facebook );
                } 
                .item:nth-child(2){
                    border-color: map-get($colors, google );
                    color: map-get($colors, google );
                    margin-left: 10px;
                }
                .item p{
                    @include font(p);
                    font-weight: map-get($font-weights,"bold");
                }
              
            }
        }
        .widget_button--small{
            background: map-get($colors, lightGrey);
            color: map-get($colors, black);
            border: none;
        }
    .content{
        width: 100%;
        max-width: 480px;
        box-sizing: border-box;
    }
    .theme_row{
        .theme_col-6:first-child{
            @include paddingHorizontal(false,"px",0,0.5)
        }
        .theme_col-6:nth-child(2){
            @include paddingHorizontal(false,"px",0.5,0)
        }
    }
    .grid-2x1{

    }
}
}

@media all and (max-width:900px){
    #login{
        // @include flex(vertical,center);
        
        .container{
            &:first-child,&:nth-child(2){
               
                @include paddingHorizontal(true,"px",0,$important:important);
                }
                @include paddingVertical(true,"%",0.5,$important:important);
                width: 100% !important;
        
               
            }
    .theme_row{
        .theme_col-6:nth-child(2){
           padding:0 !important;
        }
    }
}
    }
