$border-radius:2px;
$light-grey: #f2f2f2;
$sizings: ("px": 30px,"%": 15%,"em": 1em,"vh":3vh,"vw":3vw);


$primary-color:#5438DC;
$primary-color-:5438DC;
$dark-blue:#100a2b;
$accent-color:#00171F;
$light-primary: #ECE9FB;
$white: #FFFFFF;
$red: #EB5757;
$light-red: #F4A4A4;
$green:#6FCF97;
$light-green: #D9F2E3;
$yellow:#F2C94C;
$light-yellow: #F7EFD4;
$bg-color :#faf9ff;
$grey: #BDBDBD;
$light-grey: #e0e0e0;
$dark-grey: #999999;