@import '../../../../styles/abstracts/_abstracts-dir';
@import '../../../../styles/themes/_theme-dir';
.modal{
    @include flex(true,center);
    @include background(overlay);
    position: fixed;
    top: 0;
    left:0;
    height: 100vh;
    width: 100%;
   
    z-index: 11;
    &-header{
        @include font(heading3);
        text-align: center;
        position: relative;
        .close{
            position: absolute;
            right: 0;
            @include color(black);
        }
        height: 10%;
    }
    &-body{
        @include marginVertical(false,"px",1,0);
        @include flex(vertical,center);
        height: 90%;
        width: 100%;
    }
    &-content{
        // @include color(white);
        @include padding(true,"px",1);
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
       box-sizing: border-box;
       width: 60%;
       max-height: 70%;
       overflow-y: auto;
        max-width: 500px;
    }
}