<div class="modal animate__animated animate__fadeIn">
    <!-- card card--primary -->
    <div class="modal-content card card--primary animate__animated animate__fadeInUp" #modalContent>

        <div class="modal-header">
            <!-- <ng-container *ngIf="header">
                <ng-container *ngTemplateOutlet="header.headerContent">
                </ng-container>
            </ng-container> -->
<ng-content select="[slot=header]"></ng-content>
            <div class="close" (click)="close()">
                <span class="material-icons">
                    close
                    </span>
            </div>
        </div>
        <div class="modal-body">
            <!-- <ng-container #body></ng-container>
            <ng-container *ngIf="modalBody$|async as mBody">
                <ng-container  *ngTemplateOutlet="mBody" >
                </ng-container>
            </ng-container> -->
<ng-content select="[slot=body]"></ng-content>
        </div>

    </div>
    <div class="modal-overlay" (click)="close()"></div>
</div>