.auth_container{
    
    flex-direction: column;
    width: 100%;
    margin-top: 20vh;
    height: 90vh;
    .footer{
        @include marginVertical(false,"vh",3,1);
    }
}


@media all and (max-width:900px) {
    .auth_container{
        margin-top: 15vh;
    }
   
}