$colors: (
  green: #9BC748, //celery
  lightGreen:#EAF3D8, //Chrome White
  yellow: #E6AF2A, //fuelYellow
  yellow70: rgba(230, 175, 42,0.7),
  yellow00: rgba(230, 175, 42,0),
  white: #FAFAFA, //Alabaster
  midYellow:#F6E2B1, //wheat
  midYellow70:#F6E2B170, //wheat
  midYellow00:#F6E2B100, //wheat
  lightGrey:#E0E0E0, //Alto
  midGrey:#a5a5a5,//#BDBDBD,
  grey:#6B6B6B,//#BDBDBD,
  lightYellow:#FBF3DF, //Citrine White
  greyWhite:#F2F2F2,
  black: #0E0A02 ,//acadia
  google:#EB5757,
  red:#EB5757,
  lightRed:#e9d6d66b,//#e9d6d6,
  facebook:#4267B2,
  info:#5482df,
  lightBlue:#cdd4e4,
  overlay: rgba(0,0,0,0.8)
);