$colors: (
  green: #9BC748, //celery
  lightGreen:#EAF3D8, //Chrome White
  yellow: #E6AF2A, //fuelYellow
  white: #FAFAFA, //Alabaster
  midYellow:#F6E2B1, //wheat
  lightGrey:#E0E0E0, //Alto
  grey:#6B6B6B,//#BDBDBD,
  lightYellow:#FBF3DF, //Citrine White
  black: #0E0A02 ,//acadia
  google:#EB5757,
  facebook:#4267B2,
);