<div id="form" class="{{side?'':'theme_col-6'}} animate__animated animate__fadeInUp animate__fast">
    <div class="content {{!side?'box-shadow':''}} {{!side?'':'content--smaller'}}" style="box-sizing: border-box;">
        <!-- [hidden]="true" fieldClass="vc_form-field--hidden"  -->
        <app-form [form]="form" (onSubmit)="onSubmit($event)" (errorMessageChange)="onError($event)">
            <div class="theme_row no-margin--top d-flex d-flex_horizontal--space-between d-flex_vertical--center">
                <div class="theme_col-4">
                    <app-dropdown [current]="title.value" [fieldClass]="'no-margin--top'" [id]="'title'"
                        [control]="title" aria-placeholder="Are you a Mr, Master, Mrs or Ms">
                        <ng-container slot="label"><label for="title">Title</label></ng-container>
                        <app-option *ngFor="let t of titles; let i =index" [value]="t" [label]="t" [label]="t">{{t}}
                        </app-option>
                    </app-dropdown>
                </div>
                <div class="theme_col-7">
                    <app-input [focus$]="focus$" fieldClass="no-margin--top" id="surname"
                        [placeholder]="'Enter your surname'" [control]="surname" class="form-control"
                        [error]="(errorMessage$ | async)?.surname">
                        <label for="surname">Surname</label>
                    </app-input>
                </div>
            </div>


            <app-input id="firstName" [placeholder]="'Enter your firstName'" [control]="firstName" class="form-control"
                [error]="(errorMessage$ | async)?.firstName">
                <label for="firstName">First Name</label>
            </app-input>
            <app-input id="otherNames" [placeholder]="'Enter your other names'" [control]="otherNames"
                class="form-control" [error]="(errorMessage$ | async)?.otherNames">
                <label for="otherNames">Other Names</label>
            </app-input>


            <app-date [class]="'no-margin--top'" [dateGroup]="dobGroup" [month]="month" [day]="day" [year]="year">Date
                of Birth(18+)</app-date>
            <div class="theme_row no-margin--top d-flex d-flex_horizontal--space-between d-flex_vertical--center">
                <div class="theme_col-4">
                    <app-dropdown [current]="gender.value" [id]="'gender'" [control]="gender"
                        aria-placeholder="What's your gender">
                        <ng-container slot="label"><label for="gender">Gender</label></ng-container>
                        <app-option *ngFor="let t of genders; let i =index" [value]="t" [label]="t">{{t}}</app-option>
                    </app-dropdown>
                </div>
                <div class="theme_col-7">
                    <app-dropdown [current]="maritalStatus.value" [id]="'maritalStatus'" [control]="maritalStatus"
                        aria-placeholder="What's your maritalStatus">
                        <ng-container slot="label"><label for="maritalStatus">Marital Status</label></ng-container>
                        <app-option *ngFor="let t of maritalStatuses; let i =index" [value]="t" [label]="t">{{t}}
                        </app-option>
                    </app-dropdown>
                </div>
            </div>


            <div id="contact" class="theme_row no-margin--top" [formGroup]="contactGroup">
                <app-input id="email" [placeholder]="'Enter your email'" [control]="email" class="form-control"
                    [error]="(errorMessage$ | async)?.email">
                    <label for="email">Email</label>
                </app-input>

                <app-input id="phone" [placeholder]="'Enter your phone number'" [control]="phone" class="form-control"
                    [error]="(errorMessage$ | async)?.phone">
                    <label for="phone">Phone Number</label>
                </app-input>

                <div id="address" [formGroup]="addressGroup">

                    <app-input id="street" [placeholder]="'Enter your street address'" [control]="street"
                        class="form-control" [error]="(errorMessage$ | async)?.street">
                        <label for="street">Address</label>
                    </app-input>
                    <div
                        class="theme_row no-margin--top d-flex d-flex_horizontal--space-between d-flex_vertical--flex-end">
                        <div class="theme_col-5">
                            <app-input id="city" type="text" errorType="left" [control]="city" class="form-control"
                                [error]="(errorMessage$ | async)?.city">
                                <label for="city">City</label>
                            </app-input>
                        </div>

                        <div class="theme_col-5">
                            <app-type-ahead [current]="state.value" [id]="'state'" [control]="state"
                                aria-placeholder="What is your state of birth">
                                <ng-container slot="label"><label for="state">State</label></ng-container>
                                <app-type-ahead-option *ngFor="let state of states; let i =index" [value]="state" [label]="state">
                                    {{state}}</app-type-ahead-option>
                            </app-type-ahead>
                        </div>
                    </div>
                    <div *ngIf="addressGroup.errors">
                        <div *ngIf="addressGroup.errors?.match" class="snackbar snackbar-danger">Address is incomplete
                        </div>
                    </div>
                </div>

                <div *ngIf="contactGroup.errors">
                    <div *ngIf="contactGroup.errors?.match" class="snackbar snackbar-danger">Contact Details are
                        incomplete</div>
                </div>
            </div>
            <ng-container *ngIf="side">
                <div (click)="toggleSideNav('nok')"
                style="cursor: pointer;"
                    class="card card--small padding--x card--tertiary margin--2x d-flex d-flex_horizontal--space-between d-flex_vertical--center">
                    <p><b>NOK</b></p>
                    <span class="material-icons">
                        arrow_right
                    </span>
                </div>
            </ng-container>
            <div style="margin-top: 60px;">
                <app-button [form]="form" [loading$]="loading$">{{side?'Save':'Next'}}</app-button>
            </div>
        </app-form>
    </div>
</div>

<div class="snackbar_container ">
    <div *ngIf="apiError$|async as error" class="snackbar snackbar-danger mt-3 mb-0">{{error}}
    </div>
    <div *ngIf="apiSuccess$|async as success" class="snackbar snackbar-success mt-3 mb-0">{{success}}
    </div>
    </div>