/* You can add global styles to this file, and also import other style files */
@charset 'utf-8';

//Vendor
@import "vendors/__vendors-dir";

//Abstracts
@import "abstracts/__abstracts-dir";

//Base Styles
@import "base/__base-dir";

@import "themes/__theme-dir";

//Components
@import "components/__components-dir";

@import "features/_features-dir";

//Layout
@import "layouts/__layouts-dir";

//Page
@import "pages/__pages-dir";

* {
  box-sizing: border-box;
  transition: ease-in-out 0.15s !important;
  letter-spacing: 0.1px !important;
}

* {
  ::-webkit-scrollbar {
    width: 10px;
    height: 0.4em;
  }

  ::-webkit-scrollbar-track {
    background-color: #bdbbbb;
  }

  ::-webkit-scrollbar-thumb {
    @include background(black);
    border-radius: 10px;
  }

  // transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

li {
  margin-top: 10px;
  display: flex;
}

li div {
  border: none !important;
  padding: 0;
  overflow: initial;
}

li div:first-child {
  margin-right: 10px;
}

html {
  @include generateThemeVariables;
  height: 100%;
}

.container {
  @include paddingHorizontal(true, "px", 2);
  @include paddingVertical(true, "%", 0.5);
  display: flex;
  flex-direction: column;
}

.box-shadow {
  // Drop Shadow
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
}

div#norton-idsafe-field-styling-divId {
  z-index: 1 !important;
  opacity: 0.5;
}
.hide-element {
  display: none;
}

.show-element {
  display: flex;
}

.max-width {
  width: 100% !important;
}

#back {
  display: flex;
  color: grey;
  h3 {
    margin-left: 10px;
  }
}

.no-data {
  @include color(midGrey);
  @include flex(true, center);
  text-align: center;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 150px;
  width: 100%;
  span {
    font-size: 2em;
    margin-bottom: 20px;
  }
}

body {
  color: map-get($colors, black);
  font-family: "Manrope", "Open Sans", sans-serif;
  background: map-get($colors, white);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh !important;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  object-fit: cover;
}
#page-preview form p {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.theme_glass {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(50px);
}
.theme_dropshadow {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.6);
}
.theme_dropshadow--light {
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
}
.theme_dropshadow--subtle {
  box-shadow: 6px 6px 25px rgba(205, 152, 25, 0.5), -6px -6px 25px rgba(205, 152, 25, 0.5);
}
.theme_dropshadow--tint {
  box-shadow: 6px 6px 25px rgba(205, 152, 25, 0.1), -6px -6px 25px rgba(205, 152, 25, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}
textarea {
  min-height: 100px;
  height: auto;
  padding-left: 1%;
}
.card {
  border: 2px solid map-get($colors, lightYellow);
  border-radius: 5px;
  background: rgb(248, 248, 248);
  width: 100%;
  padding: 5% 2.5%;
  padding-top: 1.5%;
  transition: ease-in-out 0.3s !important;
}

// .card:hover{transform:scale(1.05)!important}

.widget_checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.nav-icon {
  margin: 1em;
  width: 30px;
}
.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #fafafa;
  border-radius: 3px;
  content: "";
  display: block;
  height: 4px;
  margin: 5px 0;
  transition: all 0.2s ease-in-out;
}
.sidenav_submit {
  border-radius: 2px;
}
.header:hover.nav-icon:before,
.nav-icon:hover:before,
.nav-icon:focus::before {
  transform: translateY(10px) rotate(135deg);
}
.header:hover.nav-icon:after,
.nav-icon:hover:after,
.nav-icon:focus:after {
  transform: translateY(-10px) rotate(-135deg);
}
.nav-icon:hover div,
.nav-icon:focus div {
  transform: scale(0);
}
.widget {
  width: 100%;
}
.file_panel {
  background: #e2e2e2;
  width: 100%;
  padding: 5px;
  padding-left: 5%;
  border-radius: 2px;
}
.box p {
  margin: 0;
}
.box {
  padding: 1rem 0.25rem;
  display: flex;
  align-items: center;
  border: 2px dotted #82828250;
  border-radius: 2px;
  justify-content: center;
}
.box[selected] {
  border: 2px dotted map-get($colors, yellow);
}
.box[selected="true"] + .theme_row .label_loader {
  color: map-get($colors, yellow);
  opacity: 1;
}
.box + .box {
  margin-top: 2rem;
}

.bordered_anchor {
  @include flex(true, center);
  @include paddingHorizontal(true, "px", 0.25);
  border: 2px solid map-get($colors, grey);
  height: map-get($sizings, "px");
  box-sizing: content-box;
  // font-size: 0.9em;
  border-radius: 2px;
  font-weight: map-get($font-weights, "bold");
  margin-top: 2.5px;
}

.bordered_anchor--lg {
  font-size: 1em;
  padding: 5px 10px;
}

.bordered_anchor:focus,
.bordered_anchor:hover {
  /* background: map-get($colors,black); */
  border-color: map-get($colors, yellow);
  color: map-get($colors, yellow);
}

.logo {
  width: 160px;
  padding-left: 15px;
}
#applying-as {
  display: flex;
  font-size: 0.9em;
}
.header {
  display: none !important;
}
.main {
  height: 100vh;
  padding: 5vh 5% 5vh 5%;
  position: fixed;
  margin-left: 25%;
  overflow-y: auto;
}
.compulsory label:not(.optional)::after {
  position: absolute;
  content: "*";
  top: 15%;
  color: #999999;
  left: -15px;
}
#sendplan-button {
  border-color: transparent !important;
  display: flex;
  width: 100px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 1em;
  font-weight: 400;
}
.cancel {
  transition: ease-in-out 0.2s;
}
.cancel:hover {
  color: rgb(134, 134, 134);
}
.theme_text--title + .theme_row .form_group {
  margin-top: 20px !important;
}
.currency-symbol {
  position: absolute;
  padding: 2px 5px;
}
.answer div {
  border-left: 2px solid map-get($colors, yellow);
  padding-left: 20px;
  color: map-get($colors, grey);
  font-weight: 400;
  margin-top: 10px;
  overflow: hidden;
}
#restart {
  display: none;
  text-align: center;
  cursor: pointer;
  margin: 10px auto;
  color: map-get($colors, black);
  border: 1px solid map-get($colors, black);
  transition: none !important;
}
#restart * {
  transition: none !important;
}
#restart:hover {
  color: #fff;
  border-color: #e0e0e0;
}
.header_notstarted {
  display: none;
}
#requirement-toggle {
  width: 90%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border: 2px solid #e0e0e0;
  margin: 40px auto 20px auto;
  text-align: center;
  max-width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
#requirement-toggle[active] {
  border: 2px solid map-get($colors, lightYellow);
  background: rgb(245, 244, 240);
}

#float-type {
  display: none;
}
#accname2,
#accname {
  pointer-events: none;
  opacity: 0;
}
.emailplan {
  max-width: 100% !important;
  margin-top: 60px !important;
}
.disbacc {
  display: none;
}
#view-repayment,
.sendplan {
  display: none;
}
.emailplan div #email::placeholder {
  color: rgb(211, 211, 211) !important;
}
.main--background {
  background: url(https://image.freepik.com/free-vector/layers-circular-gold-luxury-shapes-background_23-2148615993.jpg) !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-size: cover !important;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.accname-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media all and (max-width: 1233px) {
  body {
    font-size: 14px;
  }
  .sidenav {
    font-size: 1.1em;
  }
  .main {
    width: 83.33%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .sidenav_submit {
    height: auto;
  }
  .sidenav .sidenav_link {
    height: 50px;
    font-size: 1em;
  }
  #loan-desc {
    display: flex !important;
    justify-content: space-between;
  }
  .main_form-title p {
    max-width: 550px;
  }
  .emailplan {
    transform: translateY(0);
    margin-top: 50px !important;
    display: none;
  }
  #view-repayment {
    margin: 50px auto !important;
    margin-top: 20px;
    display: block;
  }
  .summary {
    display: none;
    padding-bottom: 20px;
    margin-top: 40px !important;
    width: 100%;
  }
  .summary .theme_col-7 {
    margin: 0 auto !important;
    width: 100%;
  }
  .summary .theme_col-7 .form_group {
    margin-bottom: 0 !important;
  }
  .summary .discuss {
    margin-top: 0 !important;
  }
  .summary .theme_col-5 {
    width: 100%;
  }
  .summary .theme_col-5 .form_group {
    min-height: 0;
    margin-bottom: 0;
  }
  .summary .theme_flex {
    display: block;
  }
  .sendplan {
    display: block;
  }
  .summary .theme_col-5 {
    display: flex;
    padding-left: 10px;
    padding-right: 5%;
  }
  .summary .theme_col-5 .form_group {
    width: 50% !important;
  }
  .sidenav .sidenav_link p {
    word-break: break-all;
  }
}
@media all and (max-width: 900px) {
  .theme_text--heading2-md {
    font-size: 1.1em;
  }
  .theme_text--heading1mid {
    font-size: 2.3em !important;
  }
  .tempmodal {
    padding-top: 20vh;
  }
  .scrolldown {
    display: block;
  }

  .sidenav_mobi {
    display: flex;
  }
  .form_section {
    margin-top: 40px;
  }
  .header {
    display: flex !important;
  }
  body {
    overflow: scroll !important;
  }
  .sidenav {
    width: 100vw;
    position: fixed;
    top: 60px;
    height: 100vh;
    z-index: 999;
    left: -100vw;
    transition: ease-in-out 0.3s;
  }
  .sidenav .logo {
    display: none;
  }
  .sidenav_submit {
    bottom: 10vh;
    display: flex !important;
    align-items: center;
    flex: 0 0 100%;
    flex-direction: column;
    text-align: left;
    justify-content: center;
  }
  .sidenav_submit p {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .main_form form {
    width: 100%;
    padding-bottom: 0vh;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .main {
    width: 80%;
    margin-left: 0%;
    overflow: scroll;
    top: 120px;
    padding-top: 15vh;
    padding-bottom: 30px;
    padding-left: 3.5% !important;
    padding-right: 3.5% !important;
  }
  .main_container {
    padding-bottom: 50px;
  }
  .theme_text--title + .theme_row .form_group:nth-child(2) {
    margin-top: 40px !important;
  }
  .main_form .theme_flex,
  .permission.theme_flex {
    display: block !important;
  }
  .theme_col-1 {
    display: none !important;
  }
  #upload-container .form_group {
    margin-bottom: 60px;
  }
  section.theme_flex {
    display: block !important;
  }
  .logo {
    padding-left: 0;
  }

  .summary {
    width: 100%;
  }
  .summary .theme_flex {
    display: flex;
    justify-content: space-between;
  }
  footer {
    display: block !important;
  }
  #repayment-card {
    padding: 6% !important;
    padding-top: 2.5%;
  }
  .date-group .theme_col-1 {
    width: 5% !important;
    vertical-align: middle;
  }
  .date-group .theme_col-4 {
    width: 45% !important;
    display: inline-block !important;
    vertical-align: middle;
  }
  .date-group .theme_col-3 {
    width: 25% !important;
    display: inline-block !important;
    vertical-align: middle;
  }
  #applying-as {
    font-size: 0.9em;
    padding-top: 10px;
    padding-left: 0;
    display: block;
    justify-content: flex-start;
  }
  #applying-as .item {
    margin-right: 5px;
  }
  .main_form-title h1 {
    font-size: 1.7em !important;
    word-spacing: 900px;
  }
  .logo {
    width: 130px;
  }
}

@media all and (max-width: 280px) {
  body {
    font-size: 13px !important;
  }
  #sendplan-button {
    width: 70px;
  }
}
