<div id="loan-content" class="grid-padding-4x">
    <div class="left layout">
        <div id="loan-summary">

            <ng-container *ngIf="totalLoans.length>0">
                <div class="heading">
                    <h3>Loan Summary</h3> <select id="month" required>
                        <option value="January" data-display-text="January" aria-label="January">This week</option>
                        <option value="February" aria-label="February">February</option>
                        <option value="March" aria-label="March">March</option>
                        <option value="April" aria-label="April">April</option>
                        <option value="May" aria-label="May">May</option>
                        <option value="June" aria-label="June">June</option>
                        <option value="July" aria-label="July">July</option>
                        <option value="August" aria-label="August">August</option>
                        <option value="September" aria-label="September">September</option>
                        <option value="October" aria-label="October">October</option>
                        <option value="November" aria-label="November">November</option>
                        <option value="December" aria-label="December">December</option>

                    </select>
                </div>

                <div id="summary-card">
                    <div>
                        <p>You have applied for 10 Loans worth </p>
                        <h2>₦200,000,000</h2>
                    </div>
                    <div>
                        <p>Total repayment of</p>
                        <h2>₦199,950,000</h2>
                    </div>
                </div>
            </ng-container>
            <app-loan-report [loans]="loans$|async" (selectLoan)="selectLoan($event)"></app-loan-report>
        </div>
    </div>
    <div class="right layout">
        <ng-container *ngIf="(latestLoan$|async) as loan">
            <ng-container *ngIf="loan.requestStatus=='Funded'">

                <!-- <ng-container *ngIf="(disbursedLoan$|async) as details">

                    <div id="active-loan" *ngIf="!details.disbursedLoan.isClosed" class="margin--3x no-margin--top"
                        style="width: 100%;">
                        <div class="heading">
                            <h3>Active Loan</h3>
                        </div>
                        <div class="content--smaller margin--x d-flex d-flex_horizontal--space-between d-flex_vertical--center"
                            id="repayment">
                            <div>
                                <small>Next Payment</small>
                                <h1 class="margin--x">
                                    {{details?.disbursedLoan?.nextPayment|currency:"₦":'symbol':'1.0-2' }}</h1>
                                <small>Due on <b>{{details?.disbursedLoan?.nextRepaymentDate|date:'MMMM d
                                        YYYY'}}</b></small>
                            </div>
                            <div>
                                <app-progress-circular
                                    [daysLeft]="getDaysLeft(details?.disbursedLoan?.nextRepaymentDate)">
                                </app-progress-circular>
                            </div>
                        </div>
                    </div>

                    <div class="repaid-loan box-shadow" *ngIf="details.disbursedLoan.isClosed" style="width: 100%;">
                        <div class="margin--x" id="repayment">
                            <div style="text-align: center;">
                                <div>
                                    <span style="font-size:2.5em;" class="material-icons">
                                        military_tech
                                    </span>
                                </div>

                                <h2 class="margin--x" style="font-size: 1.5em;">
                                    {{details?.totalRepayment|currency:"₦":'symbol':'1.0-2' }}</h2>
                                <p>Your last loan has been fully repaid</p>
                            </div>
                        </div>
                    </div>
                </ng-container> -->

            </ng-container>
            <ng-container *ngIf="loan.requestStatus!='Funded'">
                <div id="most-recent">
                    <div class="heading">
                        <h3>Most Recent</h3>
                    </div>

                    <div class="card card-stroke card-stroke--black grid-padding-3x" style="margin-bottom: 30px;">
                        <app-loan-status [loan$]="latestLoan$"></app-loan-status>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <div id="calculator">
            <div class="heading">
                <h3>Explore Our Rates</h3> <button type="button" (click)="moveToApply()"
                    class="widget_button widget_button--small widget_button--fill">Apply Now</button>
            </div>
            <div id="form" class="box-shadow">
                <div id="heading">Loan Calculator</div>
                <div id="content">
                    <app-form [form]="form" (onSubmit)="onSubmit($event)" (errorMessageChange)="onError($event)">
                        <app-dropdown fieldClass="no-margin--top" [current]="loanType.value"
                            [fieldClass]="'no-margin--top'" [id]="'loanType'" [control]="loanType"
                            aria-placeholder="Select a loan type">
                            <ng-container slot="label"><label for="loanType">Loan Products</label></ng-container>
                            <app-option [value]="product.id" *ngFor="let product of loanProducts">
                                {{product.uniqueName}}
                            </app-option>

                        </app-dropdown>
                        <app-input id="loanAmount" [control]="loanAmount" class="form-control"
                            [error]="(errorMessage$ | async)?.loanAmount">
                            <label for="loanAmount">Loan Amount (25k-1M)</label>
                        </app-input>

                        <app-slider id="tenure" [denominator$]="tenureDenominator$" [control]="tenure" [min]="minTenure"
                            [max]="maxTenure" class="form-control" [error]="(errorMessage$|async)?.tenure">
                            <label for="tenure">Tenure</label>
                        </app-slider>

                        <div
                            style="margin-top: 60px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div id="loan-details-summary" class="content--smaller animate__animated animate__fadeIn">
                                <div class="details">
                                    <p>Monthly Payment</p>
                                    <h2>{{monthlyRepayment$|async|currency:'₦':'symbol':'1.0-2'}}</h2>
                                </div>
                                <div class="details">
                                    <div class="item">
                                        <small>Total Repayment</small>
                                        <p>{{totalRepayment$|async|currency:'₦':'symbol':'1.0-2'}}</p>
                                    </div>
                                    <div class="item">
                                        <small>Tenure</small>
                                        <p>{{tenure.value}} {{tenureDenominator$|async|replace:'Mo':'Month'}}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div id="repayment-plan">
                                <app-form [form]="repaymentForm" (onSubmit)="onSubmit2($event)" (errorMessageChange) = "onError2($event)">
                                    <app-input [placeholder]="'Enter email address'" id="email" [control]="email" class="form-control" [error]="(errorMessage2$|async)?.email" >
                                        <label for="email">Send Repayment Plan To Email</label>
                                        <ng-container slot="button"><app-button [form]="repaymentForm" [class]="'no-margin widget_button--medium'" [loading$]="planLoading$">Send</app-button></ng-container>
                                    </app-input>
                                </app-form>
                            </div> -->
                        </div>

                        <div style="margin-top: 60px;" #applyNow>
                            <app-button
                                [title]="(runningLoan$|async)?'You currently have a loan processing':'Fill the form to proceed'"
                                [form]="form" [loading$]="loading$"><span *ngIf="loanCalculator">Continue</span><span
                                    *ngIf="!loanCalculator">Apply</span></app-button>
                        </div>
                    </app-form>
                </div>
            </div>
        </div>
    </div>

    <app-template #templates></app-template>

</div>

<ng-container *ngIf="show$|async">
    <app-modal size="large" (onChange)="close()">
        <!-- <ng-container *ngIf="loanDetailsFromDb$|async as loanDetails"> -->
        <ng-container slot="header">
            <div style="text-align: center;">
                <p>Loan ID</p>
                <h3>{{(loanDetailsFromDb$|async)?.code}}</h3>
            </div>
        </ng-container>
        <ng-container slot="body">
            <ng-container *ngIf="(loanDetailsFromDb$|async) as loanDetails">
                <div style="width: 100%;" id="loan-details">
                    <div class="d-flex d-flex_vertical--center d-flex_horizontal--space-between margin--2x">
                        <div class="d-flex d-flex_vertical--center">
                            <div style="margin-right: 10px;">
                                <p><b>Status</b></p>
                            </div>
                            <div>
                                <app-badge [color]="getLoanStatusColor(loanDetails?.status)">
                                    <b>{{loanDetails?.status}}</b>
                                </app-badge>
                            </div>
                        </div>
                        <div class="d-flex d-flex_vertical--center">
                            <ng-container *ngIf="loanDetails?.status=='Funded'||loanDetails?.status=='Completed'">
                                <a style="margin-right:10px"
                                    (click)="showRepayment(loanDetails?.disbursedLoan.id)"><u><b>View
                                            Repayments</b></u></a>
                            </ng-container>
                            <ng-container *ngIf="loanDetails?.status=='UpdateRequired'">
                                <app-button fieldClass="no-margin"
                                    (onClick)="documentUpload(loanDetails?.loanType, loanDetails?.applyingAs, loanDetails?.loanRequestID, loanDetails?.id)"
                                    [class]="'widget_button--small no-margin'" class="no-margin">
                                    <ng-container slot="button">Upload Document</ng-container>
                                </app-button>
                            </ng-container>
                        </div>
                    </div>
                    <div *ngFor="let detail of loanDetails?.details">
                        <div class="title">
                            <h3>{{detail.key}}</h3>
                        </div>
                        <div class="margin--3x">
                            <div class="detail-card" *ngFor="let d of detail.data">
                                <small>{{d.key}}</small>
                                <p><b>{{d.value}}</b></p>
                            </div>

                        </div>

                    </div>

                    <ng-container *ngIf="loanDetails.documents">
                        <div class="margin--2x">
                            <div class="title d-flex d-flex_horizontal--space-between d-flex_vertical--center">
                                <h3>Documents</h3>

                            </div>

                            <div class="margin--3x">
                                <div class="detail-card d-flex d-flex_horizontal--space-between"
                                    *ngFor="let doc of loanDetails.documents">
                                    <div>
                                        <small>{{doc.requirement}}</small>
                                        <p><b>{{doc.name}}</b></p>
                                    </div>
                                    <app-button (onClick)="download(doc.url,doc.fileName)" size="small">
                                        <ng-container slot="button">Download</ng-container>
                                    </app-button>
                                </div>

                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
        <!-- </ng-container> -->
    </app-modal>

</ng-container>


<ng-container *ngIf="showRepayment$|async">
    <app-modal size="large" (onChange)="closeRepayment()">

        <ng-container slot="body">
            <div style="display: block; width: 100%;">


                <ng-container *ngIf="repayments$|async as repayments">
                    <div style="width: 100%;" id="loan-details">

                        <div class="title">
                            <h3>Repayment History</h3>
                        </div>

                    </div>
                    <app-table>
                        <ng-container slot="header">
                            <tr>
                                <th>Payment Date</th>
                                <th>Amount Repaid</th>
                                <th>Status</th>
                            </tr>
                        </ng-container>
                        <ng-container slot="body" *ngIf="repayments$|async as data">
                            <ng-container *ngIf="data.length==0">
                                <div class="no-data">
                                    <span class="material-icons material-icons-outlined">
                                        info
                                    </span>
                                    <h3>No data available</h3>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="data.length>0">
                                <tr *ngFor="let row of data;trackBy:trackByFn">
                                    <td>{{row.dateRepaid | date :'MMMM d, y hh:mm:ss'}}</td>
                                    <td>{{row.amount|currency:'₦'}}</td>
                                    <td>
                                        <app-badge [color]="getStatusColor(row.repaymentType)">{{row.repaymentType}}
                                        </app-badge>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                        <ng-container slot="body" *ngIf="!(repayments$|async)">
                            <div class="no-data">
                                <span class="material-icons material-icons-outlined">
                                    info
                                </span>
                                <h3>No repayments yet</h3>
                            </div>
                        </ng-container>

                    </app-table>
                </ng-container>
            </div>
        </ng-container>
    </app-modal>
</ng-container>
<ng-container *ngIf="showUpload$|async">
    <app-modal (onChange)="closeUpload()">
        <ng-container slot="header">
            Upload a document
        </ng-container>
        <ng-container slot="body">
            <div style="min-height: 200px;">
                <div>
                    <p><b>Select a Requirement</b></p>
                    <app-dropdown [control]="requirementCtrl" [fieldClass]="'no-margin--top'" [id]="'requirement'"
                        aria-placeholder="Select requirement">
                        <app-option *ngFor="let t of requirements; let i =index" [value]="i.toString()"
                            label="{{t.title}}">{{t.title}}
                        </app-option>

                    </app-dropdown>
                </div>
                <ng-container *ngIf="requirement$|async as requirement">
                    <div class="margin--3x">
                        <app-document (onChange)="onChange($event)" title="{{requirement.title}}"
                            fieldClass="document no-margin--top" description="{{requirement.description}}"
                            [control]="uploadedDocument" [resetOnUpload]="true">

                        </app-document>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </app-modal>
</ng-container>