
#sidenav-hidden{
    flex-direction: column;
}
@media all and (max-width:900px){
    #sidenav-hidden{
        width: 60vw ;
    }
}


@media all and (max-width:768px){
    #sidenav-hidden{
        width: 100vw ;
    }
}