<!-- <ng-container *ngIf="details"> -->
    <div id="active-loan" *ngIf="!details.disbursedLoan?.isClosed" style="width: 100%;">
        <small>Active Loan</small>
        <div class="content--smaller margin--x d-flex d-flex_horizontal--space-between d-flex_vertical--center"
            id="repayment">
            <div>
                <small>Next Payment</small>
                <h1 class="margin--x">
                    {{details?.disbursedLoan?.nextPayment|currency:"₦":'symbol':'1.0-2' }}</h1>
                <small>Due on <b>{{details?.disbursedLoan?.nextRepaymentDate|date:'MMMM d
                        YYYY'}}</b></small>
            </div>
            <div>
                <app-progress-circular [daysLeft]="getDaysLeft(details?.disbursedLoan?.nextRepaymentDate)">
                </app-progress-circular>
            </div>
        </div>
    </div>
    <div class="repaid-loan box-shadow" *ngIf="details.disbursedLoan?.isClosed" style="width: 100%;">
        <div class="margin--x" id="repayment">
            <div style="text-align: center;">
                <div>
                    <span style="font-size:2.5em;" class="material-icons">
                        military_tech
                    </span>
                </div>

                <h2 class="margin--x" style="font-size: 1.5em;">
                    {{details?.totalRepayment|currency:"₦":'symbol':'1.0-2' }}</h2>
                <p>Your last loan has been fully repaid</p>
            </div>
        </div>
    </div>
    <div>

    </div>
    <div class="margin--x d-flex d-flex_horizontal--space-between d-flex_vertical--center">
        <a (click)="onNavigate('my/loans')"><u><b>View History</b></u></a>
        <a (click)="showRepaymentClicked(details.disbursedLoan?.id)"><u><b>View Repayments</b></u></a>
    </div>
<!-- </ng-container> -->