<div class="card" style="width: 90%; margin: auto;">
    <div style="text-align: center; font-weight: 700;">
    <!-- border-bottom: 1px solid #e0e0e0;padding:10px;"> -->
    <p class="theme_color">Total Payout (NGN)</p>
    <p class="theme_text--heading1" style="margin:10px auto; margin-top: 0px; word-break: break-all;"><b id="payout">--</b></p>
</div>
<div class="theme_row" style="font-size: 0.9em;">
<div class="form_group" style="display: flex; justify-content: space-between; align-items: center; margin:5px 0 !important;">
    <div class="theme_color--grey">Withholding Tax(10%):</div>
    <div><b id="tax">--</b></div>
    </div>  
    <div class="form_group" style="display: flex; justify-content: space-between; align-items: center; margin:5px 0 !important;">
        <div class="theme_color--grey">Management Fee(0.5%):</div>
        <div><b id="mgt-fee">--</b></div>
            </div>  
            <div class="form_group" style="display: flex; justify-content: space-between; align-items: center; margin:5px 0 !important;">
                <div class="theme_color--grey">Maturity Date:</div>
                <div><b id="maturity">--</b></div>
                </div> 
                </div>
</div>