<app-header [myclass]="headerclass"></app-header>

<div class="loan_content theme_inline-block">
    <div class="theme_row" style=" padding-top: 2.5%;">
        <div class="main_container grid-padding-3x" style="padding-bottom: 0 !important;">
            <app-navigation [type]="mobile"></app-navigation>
            <div class=" theme_row" style="position: relative; display: flex;">
                <app-navigation [type]="desktop"></app-navigation>
                <div class="theme_col-5 theme_color" style="padding-right: 5%;padding-top: 7%; z-index: 1;">

                    <div class="copy" style="overflow-x: hidden; margin-top: 0;">
                        <!-- <p class="theme_text--heading1 animate__animated animate__fadeInLeft"><span>Low rates, Flexible
                                Payments, </span><span class="theme_color--yellow">Peace of mind</span></p> -->
                                <ul style="font-size: 2em; line-height: 1em;" class="theme_text--heading2 animate__animated animate__fadeInLeft">
                                    <li>Affordable Interest Rates</li>
                                       <li> Flexible Repayment Plans</li>
                                        <li>No Hidden Charges</li>
                                        <li class="theme_color--yellow">Peace of Mind</li>
                                </ul>
                        <div class="animate__animated animate__fadeIn"
                            style="width: 90%; max-width: 200px; margin-bottom: 30px;">
                            <app-lottie [assetPath]="assetPaths.loan"></app-lottie>
                        </div>
                    </div>
                </div>
                <div class="theme_col-7" style="padding-bottom: 5%;">

                    <app-loan-header></app-loan-header>
                    <ng-container *ngIf="(page$|async)=='loan-type'||(page$|async)==''">
                        <app-loantype></app-loantype>
                    </ng-container>
                    <ng-container *ngIf="(page$|async)=='applying-as'">
                        <app-applying-as></app-applying-as>
                    </ng-container>
                    <ng-container
                        *ngIf="(page$|async)=='loan-product'||((page$|async)!='applying-as' && (page$|async)!='loan-type' && (page$|async)!='')">
                        <app-loan-product></app-loan-product>
                    </ng-container>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>


<!-- <div class="investment_content theme_inline-block  grid-padding-3x" >
        <div class="theme_row" style=" padding-top: 2.5%;">
            <div class="main_container" style="padding-bottom: 0 !important;">
                <div>
                    <app-navigation [type]="mobile"></app-navigation>
                    <div class="investment theme_row" style="position: relative; display: flex;">
                        <app-navigation [type]="desktop"></app-navigation>
                        <div class="theme_col-7 theme_color investment_background " style="padding-right: 5%;padding-top: 7%; z-index: 1;" >
                        
                            <div class="copy" style="overflow-x: hidden; margin-top: 0;">
                                <p class="theme_text--heading1 animate__animated animate__fadeInLeft"><span>Low rates, Flexible Payments, </span><span class="theme_color--yellow">Peace of mind</span></p>
                                <div class="animate__animated animate__fadeIn" style="width: 90%; max-width: 200px; margin-bottom: 30px;">
                                <app-lottie [assetPath]="assetPaths.loan"></app-lottie>
                            </div>
                        </div>
                        </div>
                        <div class="theme_col-12" style="height: 100%; z-index: 2;"  >
                    
                            <div class="title theme_bg--white theme_col-5 investment_background  theme_dropshadow--light animate__animated animate__fadeInUp" style="height: 100%;"  >
                                <div class=" theme_bg" style=" width: 100%; height: 60px;  display: flex;  align-items: center;padding-left:10%;padding-right:10%; z-index: 99999999999999999999999999;">
                                    <p class="theme_color--white theme_text--heading3 theme_color--yellow" id="monthly-header" style="margin: auto;">Get A Loan</p>
                                </div>
                                <div class="theme_row" style=" padding-top: 2%; padding-bottom: 5%;"> 
                                    <div class="loans_category">
                                        <div  class="title"><h2>LPO Financing</h2></div>
                                        <p class="theme_color--grey">Are you a vendor or contractor?</p>
                                        <p class="theme_color--grey"> Get up to NGN 10 Million for your local purchase orders. Payback <b>monthly</b>.</p>
                                        <div class="cta" style="justify-content: flex-end; width: 100%;">
                                            <app-button fieldClass="no-margin--top no-margin--bottom" [class]="'widget_button--small'" (click)="submit($event,'LPO Financing')">Get Started</app-button>
                                        </div>
                                    </div>
                                    <div class="loans_category">
                                        <div  class="title"><h2>Float Me</h2></div>
                                        <p class="theme_color--grey">Need to Fund emergencies with an option to payback in less than one month? Access up to NGN 10Million. Payback <b>Daily</b>. </p>
                                        <div class="cta" style="justify-content: flex-end; width: 100%;">
                                            <app-button fieldClass="no-margin--top no-margin--bottom" [class]="'widget_button--small'" (click)="submit($event,'Float Me')">Get Started</app-button>
                                        </div>
                                    </div>
                                    <div class="loans_category">
                                        <div class="title"><h2>Personal Loans</h2></div>
                                        <p class="theme_color--grey">Get loans between NGN 25,000 and NGN 5 Million. Pay back <b>monthly</b> </p>
                                        <div class="cta" style="justify-content: flex-end; width: 100%;">
                                            <app-button fieldClass="no-margin--top no-margin--bottom" [class]="'widget_button--small'" (click)="submit($event,'Personal Loans')">Get Started</app-button>
                                        </div>
                                    </div>
                                    <div class="loans_category">
                                        <div  class="title"><h2>Business Loans</h2></div>
                                        <p class="theme_color--grey">Run and grow your business.
                                            Get up to NGN 10 Million in funding. Payback
                                            <b>monthly</b>.</p>
                                        <div class="cta" style="justify-content: flex-end; width: 100%;">
                                            <app-button fieldClass="no-margin--top no-margin--bottom" [class]="'widget_button--small'" (click)="submit($event,'Business Loans')">Get Started</app-button>
                                        </div>
                                    </div>
                                    
                                </div>
                                <app-footer></app-footer>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
  
    </div> -->