<app-header [myclass]="headerclass"></app-header>

<div class="loan_content theme_inline-block">
    <div class="theme_row" style=" padding-top: 2.5%;">
        <div class="main_container grid-padding-3x" style="padding-bottom: 0 !important;">
            <app-navigation [type]="mobile"></app-navigation>
            <div class=" theme_row" style="position: relative; display: flex;">
                <app-navigation [type]="desktop"></app-navigation>
                <div class="theme_col-5 theme_color loan_background"
                    style="padding-right: 5%;padding-top: 7%; z-index: 1;">

                    <div class="copy" style="overflow-x: hidden; margin-top: 0;">
                        <ul style="font-size: 1.9em; line-height: 1em;"
                            class="theme_text--heading2 animate__animated animate__fadeInLeft">
                            <li>Affordable Interest Rates</li>
                            <li> Flexible Repayment Plans</li>
                            <li>No Hidden Charges</li>
                            <li class="theme_color--yellow">Peace of Mind</li>
                        </ul>
                        <div class="animate__animated animate__fadeIn"
                            style="width: 90%; max-width: 200px; margin-bottom: 30px;">
                            <app-lottie [assetPath]="assetPaths.loan"></app-lottie>
                        </div>
                    </div>
                </div>
                <div id="right_container" class="theme_col-12" style="padding-bottom: 5%; height: 100%; z-index: 2;">

                    <div class="theme_col-7" id="right">
                        <app-loan-header></app-loan-header>
                        <ng-container *ngIf="(page$|async)=='loan-type'||(page$|async)==''">
                            <app-loantype></app-loantype>
                        </ng-container>
                        <ng-container
                            *ngIf="(page$|async)=='applying-as' ||  ((page$|async)!='loan-type' && (page$|async)!='')">
                            <app-applying-as></app-applying-as>
                        </ng-container>
                    </div>

                    <app-footer></app-footer>
                </div>

            </div>
        </div>
    </div>
</div>