@import "../../../../styles/abstracts/_abstracts-dir";
@import "../../../../styles/themes/_theme-dir";
.loan_content {
    margin-left: 0;
    padding: 0;
    top: 80px;
    width: 100vw;
    overflow-y: auto;
    height: 100vh;
    // padding-left: 15%; padding-right: 15%;
    position: fixed;
    .theme_col-7 {
        margin-left: 40%;
    }

    .theme_col-5 {
        position: relative;
        z-index: 2;
    }
}
.loan_background {
    position: fixed;
    z-index: 1;
}
* {
    transition: none !important ;
}
p {
    word-break: normal;
}
.rate {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    font-weight: 700;

    transition: background ease-in-out 0.2s !important;
}
.copy {
    margin: 100px auto;
    margin-top: 50px;
    p {
        max-width: 500px;
    }
}
#getstarted {
    display: none;
}
.copy {
    margin: 100px auto;
}
.loans_category {
    width: 90%;
    margin: 10px auto;
    border: 1px solid #e0e0e0;
    padding: 2.5% 5%;
    border-radius: 2px;
}
.cta {
    display: none;
}
.loans_category .title div {
    opacity: 0;
    transition: ease-in-out 0.2s;
}
.loans_category .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loans_category .title h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.loans_category:hover {
    background: #f2f2f2;
    cursor: pointer;
}
.loans_category:hover .cta {
    display: flex !important;
}
.loans_category:hover .title div {
    opacity: 1;
}

#right_container {
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    left: 0;
}
@media all and (max-width: 1233px) {
    .loan_content {
        .theme_row {
            flex-direction: column;
        }
        .main_container {
            margin-top: 5vh !important;
        }

        .theme_col-7,
        .theme_col-5 {
            // width: 100% !important;
            // margin-left: 0;
            .copy {
                margin-bottom: 30px;
            }
        }
    }
}

@media all and (max-width: 900px) {
    #right_container {
        position: relative;
    }
    #right.theme_col-7 {
        position: relative;
        z-index: 2;
        width: 100% !important;
        margin-left: 0%;
    }

    .loan_content {
        top: 40px;
        .main_container {
            margin-top: 15vh !important;
        }
    }
}

@media all and (max-width: 768px) {
    .loan_content {
        top: 40px;
        .main_container {
            margin-top: 15vh !important;
        }
    }
}
// @media all and (max-width: 1233px){
// .investment{
// width: 100%;
// padding-top: 5vh;
// padding-bottom: 10vh;
// }
// .investment_content{
// padding-left: 5%; padding-right: 5%;
// }

// .theme_col-7,.theme_col-5{
//     width: 100% !important;
// }

// }
// @media all and (max-width: 900px){
// .investment .investment_background .copy{
// max-width: 100%;
// }
// .investment .investment_background{
// position: relative;
// z-index: 1;
// }
// .investment .investment_background.theme_col-5{
// position: relative;
// z-index: 2;
// margin-left: 0%;
// }

// .investment{
// display: block !important;
// width: 100%;
// position: relative;
// padding-bottom: 0;
// }
// #getstarted{
// display: block;
// }
// .investment_content{
// padding-left: 5%; padding-right: 5%;
// }

// .copy,.investment .investment_background .copy{
// margin :0px;
// margin-top: 15vh;
// }
// .investment{
// margin-top: 10vh;
// }
// }
