 <div id="form" class="theme_col-5 animate__animated animate__fadeInUp animate__fast">
        <div class=" content box-shadow" style="box-sizing: border-box;">
    <!-- [hidden]="true" fieldClass="vc_form-field--hidden"  -->
    <app-form [form]="form" (onSubmit)="onSubmit($event)" (errorMessageChange) = "onError($event)">
       
        <app-input fieldClass="no-margin--top" id="employer" [placeholder]="'Enter name of employer'" [control]="employer" class="form-control" [error]="(errorMessage$ | async)?.employer" >
            <label for="employer">Employer</label>
        </app-input>     
        <app-dropdown [current]="businessSector.value"  [id]="'businessSector'" [control]="businessSector"  aria-placeholder="What sector of business are you in">
            <ng-container slot="label"><label for="businessSector">Business Sector</label></ng-container>
            <app-option *ngFor="let t of businessSectors; let i =index" [value]="t">{{t}}</app-option>
        </app-dropdown>  
            
            
                <div id="contact" class="theme_row no-margin--top"  [formGroup]="contactGroup">
                    <app-input id="email" [placeholder]="'Enter your email'" [control]="email" class="form-control" [error]="(errorMessage$ | async)?.email" >
                        <label for="email">Email</label>
                    </app-input>
                    
                    <app-input id="phone" [placeholder]="'Enter your phone number'" [control]="phone" class="form-control" [error]="(errorMessage$ | async)?.phone" >
                        <label for="phone">Phone Number</label>
                    </app-input>

                    <div id="address"  [formGroup]="addressGroup">
                   
                        <app-input id="street" [placeholder]="'Enter your street address'" [control]="street" class="form-control" [error]="(errorMessage$ | async)?.street" >
                            <label for="street">Street</label>
                        </app-input>
                        <div class="theme_row no-margin--top d-flex d-flex_horizontal--space-between d-flex_vertical--flex-end" >
                            <div class="theme_col-5">
                                <app-input id="city" type="text" errorType="left"  [control]="city" class="form-control" [error]="(errorMessage$ | async)?.city" >
                                    <label for="city">City</label>
                                </app-input>
                            </div>
                        
                            <div class="theme_col-5">
                                <app-dropdown [current]="state.value"  [id]="'state'" [control]="state"  aria-placeholder="What is your state of birth">
                                    <ng-container slot="label"><label for="state">State</label></ng-container>
                                    <app-option *ngFor="let state of states; let i =index" [value]="state">{{state}}</app-option>
                                </app-dropdown>
                            </div>
                        </div>
                        <div *ngIf="addressGroup.errors">
                            <div *ngIf="addressGroup.errors?.match" class="snackbar snackbar-danger">Passwords dont match</div>
                        </div>
                    </div>
                   
                    <div *ngIf="contactGroup.errors">
                        <div *ngIf="contactGroup.errors?.match" class="snackbar snackbar-danger">Passwords dont match</div>
                    </div>
                </div>
                <div class="theme_row no-margin--top d-flex d-flex_horizontal--space-between d-flex_vertical--center">
                    <div class="theme_col-5">
                        <app-input id="netMonthlySalary" [placeholder]="'Enter your Net Monthly Salary'" [control]="netMonthlySalary" class="form-control" [error]="(errorMessage$ | async)?.netMonthlyAmount" >
                            <label for="netMonthlySalary">Net Monthly Salary</label>
                        </app-input>
                    </div>
                    <div class="theme_col-5">
                        <app-input id="payDay" type="number" [placeholder]="'30 for 30th of the month'" [control]="payDay" class="form-control" [error]="(errorMessage$ | async)?.payDay" >
                            <label for="payDay">PayDay</label>
                        </app-input>
                    </div>
                </div>
        <div style="margin-top: 60px;">
            <app-button [form]="form" [loading$]="loading$">Next</app-button>
        </div>
    </app-form>
    </div>
</div>                