.investment_background {
    position: fixed;
    z-index: 1;
}
.investment_background.theme_col-5 {
    position: relative;
    z-index: 2;
    margin-left: 58.33%;
}

.investment_background .copy {
    margin: 0;
    margin-bottom: 100px;
    margin-top: 50px;
    max-width: 80%;
}

@media all and (max-width: 900px) {
    .investment_background .copy {
        max-width: 100%;
    }
    .investment_background {
        position: relative;
        z-index: 1;
    }
    .investment_background.theme_col-5 {
        position: relative;
        z-index: 2;
        margin-left: 0%;
    }

    .copy,
    .investment_background .copy {
        margin: 0px;
        margin-top: 15vh;
    }
}
