<div class="theme_bg--white theme_col-5 investment_background theme_dropshadow--light animate__animated animate__fadeInUp" style="height: 100%;">
    <div class=" theme_bg" style=" width: 100%; height: 60px;  display: flex;  align-items: center;padding-left:10%;padding-right:10%;">
        <p class="theme_color--yellow theme_text--heading3" style="text-align: center; margin: auto;">Investment Application</p>
    </div>
    <!-- <form role="form" id="form" novalidate (ngSubmit)="save()" class="example-form" [formGroup]="form"> -->
        <app-form [form]="form" (onSubmit)="onSubmit($event)" (valueChange) = "onChange($event)" (errorMessageChange) = "onError($event)">
        <app-investment-card></app-investment-card>
        <div class="theme_row" style="padding: 5%; padding-top: 0;"> 
            <!-- <app-input [options]='amountOptions' (valueChange)="printValue('amount',$event)"></app-input> -->
            <div class="vc_form-field form_group">
                <label>How much do you want to invest</label>
                <input [focus]="focus$|async" id="amountId" type="text" [formControl]="amount"  placeholder="Enter investment amount" 
                [ngClass]="{ 'is-invalid': (amount.touched || amount.dirty) && !amount.valid }" 
                >
                <div *ngIf="(errorMessage$ | async)?.amount as errors" class="invalid-feedback invalid-feedback--default">
                    <div>{{errors}}</div>
                </div>
                
                  <div *ngIf="!(errorMessage$ | async)?.amount" class="flex" style="display: flex; justify-content: space-between; font-size: 0.8em; align-items: center;">
                    <div class="flex-item"><p>50,000</p></div>
                    <div class="flex-item"><p> 50,000,000</p></div>
                   </div>
              </div>
              <div class="vc_form-field vc_form-field--hidden form_group">
                <input  id="durationId" type="text" [formControl]="duration" hidden >
               
              </div>
            <app-rate (rateDetailChange)="rateDetailChange($event)" [amount$]="amount$"></app-rate>
            <div *ngIf="(errorMessage$ | async)?.duration as errors" class="invalid-feedback invalid-feedback--default">
                <div>{{errors}}</div>
            </div>
            <div class="vc_form-field vc_form-field--hidden form_group">
                <input  id="rateId" type="text" [formControl]="rate" hidden >
               
              </div>
            <div class="vc_form-field form_group">
                <label>Preferred Name</label>
                <input id="nameId" type="text" [formControl]="name"  placeholder="Enter your preferred name" 
                [ngClass]="{ 'is-invalid': (name.touched || name.dirty) && !name.valid }" 
                >
                <div *ngIf="(errorMessage$ | async)?.name as errors" class="invalid-feedback invalid-feedback--default">
                    <div>{{errors}}</div>
                </div>
              </div>
              <div class="vc_form-field vc_form-field--hidden form_group">
                <input  id="payoutId" type="text" [formControl]="payout" hidden >
               
              </div>
              <div class="vc_form-field form_group">
                <label>Email</label>
                <input id="emailId" type="text" [formControl]="email"  placeholder="Enter your preferred email" 
                [ngClass]="{ 'is-invalid': (email.touched || email.dirty) && !email.valid }" 
                >
                <div *ngIf="(errorMessage$ | async)?.email as errors" class="invalid-feedback invalid-feedback--default">
                    <div>{{errors}}</div>
                </div>
              </div>

              <div class="vc_form-field vc_form-field--hidden form_group">
                <input  id="maturityId" type="text" [formControl]="maturity" hidden >
               
              </div>
            <!-- <app-input [options]='nameOptions' (valueChange)="printValue('name',$event)"></app-input> -->
            <!-- <app-input [options]='emailOptions' (valueChange)="printValue('email',$event)"></app-input> -->
        </div>
        <div class="theme_row" style="width: 90%; margin:0px auto;">
            <app-button [options]="buttonOptions" [form]="form" ></app-button>
            <!-- <div class="form_group" style="margin-top: 0;">
                <button class="widget_button widget_button--stroke widget_button--large" style="margin-top: 10px;" type="submit"
                
                [title]="form.valid?'Save your entered data':'Disabled until form data is valid'" 
                [disabled]="!form.valid"><div>I Am Interested</div><div class="widget_button--loader"><img src="../../../../assets/button-loader.gif" /></div></button>
                
                </div> -->
        </div>
    </app-form>
    <app-footer></app-footer>
</div>