

    <div id="calculator" >
    <div class="theme_col-5" style="margin-top: 30px; display: flex; flex-direction: column; justify-content: space-between;">
        <div id="loan-details-summary" class="content--small animate__animated animate__fadeIn" >
            <div class="details">
                <p>Monthly Payment</p>
                <h1>{{monthlyRepayment$|async|currency:'₦':'symbol':'1.0-2'}}</h1>
            </div>
            <div class="details">
                <div class="item">
                    <small>Total Repayment</small>
                    <p>{{totalRepayment$|async|currency:'₦':'symbol':'1.0-2'}}</p>
                </div>
                <div class="item">
                    <small>Tenure</small>
                    <p>{{tenure.value}} {{tenureDenominator$|async|replace:'Mo':'Month'}}</p>
                </div>
            </div>
        </div>
        <div id="repayment-plan">
            <app-form [form]="repaymentForm" (onSubmit)="onSubmit2($event)" (errorMessageChange) = "onError2($event)">
                <app-input [placeholder]="'Enter email address'" id="email" [control]="email" class="form-control" [error]="(errorMessage2$|async)?.email" >
                    <label for="email">Send Repayment Plan To Email</label>
                    <ng-container slot="button"><app-button [form]="repaymentForm" [class]="'no-margin--all widget_button--medium'" [loading$]="planLoading$">Send</app-button></ng-container>
                </app-input>
            </app-form>
        </div>
    </div>
    <div id="form" class="theme_col-6 animate__animated animate__fadeInUp animate__fast">
        <div class=" content box-shadow" style="box-sizing: border-box; margin-top: 30px;">
    <!-- [hidden]="true" fieldClass="vc_form-field--hidden"  -->
    <app-form [form]="form" (onSubmit)="onSubmit($event)" (errorMessageChange) = "onError($event)">
   
        <app-input [focus$]="focus$" fieldClass="no-margin--top" id="loanAmount" [control]="loanAmount" class="form-control" [error]="(errorMessage$|async)?.loanAmount" >
            <label for="loanAmount">Loan Amount ({{range.minString}}-{{range.maxString}})</label>
        </app-input>

        <app-slider id="tenure" [denominator$]="tenureDenominator$" [control]="tenure" [min]="minTenure" [max]="maxTenure" class="form-control" [error]="(errorMessage$|async)?.tenure" >
            <label for="tenure">Tenure</label>
        </app-slider>

        <app-dropdown [current]="purpose.value" [fieldClass]="'margin--large no-margin--bottom'" [id]="'purpose'" [control]="purpose"  aria-placeholder="What is the purpose of your loan">
            <ng-container slot="label"><label for="purpose">Purpose of the loan</label></ng-container>
            <app-option *ngFor="let purpose of loanPurposes; let i =index" [value]="purpose" [label]="purpose">{{purpose}}</app-option>
        </app-dropdown>
        <div style="margin-top: 60px;">
            <app-button [form]="form" [loading$]="loading$">Next</app-button>
        </div>
    </app-form>
    </div>
</div>
</div>


<div class="snackbar_container ">
    <div *ngIf="apiError$|async" class="snackbar snackbar-danger mt-3 mb-0 animate__animated animate__fadeInUp">{{apiError$|async}}
    </div>
    <div *ngIf="apiSuccess$|async" class="snackbar snackbar-success mt-3 mb-0 animate__animated animate__fadeInUp">{{apiSuccess$|async}}
    </div>
    
    </div>
                            
                      