@import "../../../../../styles/abstracts/_abstracts-dir";
@import "../../../../../styles/themes/_theme-dir";

.theme_row {
    // @include flex(horizontal,space-between);
    @include marginVertical(false, "px", 1, 0);
}

#repayment-plan {
    justify-self: flex-end;
}
#calculator {
    display: flex;
    // justify-content:space-between;
}

#loan-details-summary{
    border: 0 !important;
}

@media all and (max-width: 900px) {
    #calculator {
        display: block;
        .theme_col-6,
        .theme_col-5 {
            width: 100% !important;
        }
    }
}
