<div class="circular" [ngClass]="{'due':daysLeft==0}" style="--daysL:{{daysL}};--daysR:{{daysR}};">
    <div class="inner"></div>
    <div class="number">
        <ng-container *ngIf="daysLeft>0">
            <h2>{{daysLeft}}</h2>
            <small>Days</small>
        </ng-container>
        <ng-container *ngIf="daysLeft==0">
            <h3>Due</h3>
            <small>Today</small>
        </ng-container>
    </div>
    <div class="circle">
       <div class="bar left">
          <div class="progress"></div>
       </div>
       <div class="bar right">
          <div class="progress"></div>
       </div>
     </div>
  </div>