#loan-details-summary{
    display: flex;
    flex-direction: column;
    border: 1px solid map-get($colors, lightGrey);
    border-radius: $border-radius;
    text-align: center;
   
    .details{
        display: flex;
        &:nth-child(1){
        flex-direction: column;
        }
        &:nth-child(2){
            @include flex(horizontal,space-between);
            border-radius: $border-radius;
            @include marginVertical(false,"px",2,0);
            .item{
                @include flex(true,center);
                flex-direction: column;
                background: map-get($colors, lightGrey);
                width: 170px;

                @include paddingHorizontal(true,"px",1);
                @include paddingVertical(true,"px",0.5);
                p{
                    font-weight: 800;
                }
            }
        }
    }
    
}