<div id="document-upload">
    <app-form [form]="form" [class]="'box-shadow content'" (onSubmit)="onSubmit($event)" (errorMessageChange) = "onError($event)">
        <p id="disclaimer" style="text-align: center;"> Files should be pdf,docx,pptx or xlsx</p>
    
        <div class="document animate__animated animate__fadeInUp" *ngFor="let req of requirements;let i =index" [ngClass]="{'active':documentControls[i].value}">
            <div class="heading">
                <h3 class="title"><b>{{req.title}}</b></h3>
                <small>{{req.description}}</small>
            </div>
            <div class="uploader">
                <div *ngIf="!documentControls[i].value">
                    <div class="icon"><span class="material-icons material-icons-two-tone">
                        perm_media
                        </span>
                    </div>
                    <p>Drag and drop files here</p>
                </div>
                <div class="animate__animated animate__fadeInUp" *ngIf="documentControls[i].value">
                    <h3>{{(documentControls[i].value)|replace:'c:\fakepath\'':''}}</h3>
                </div>
                <app-input [hidden]="true" fieldClass="vc_form-field--hidden"  id="document_{{i}}" [control]="documentControls[i]|toControl"  class="form-control"  >
                </app-input>
                <input type="file" (change)="onFileChange($event,i)"  alt="Upload your bank statement"/>
                <div class="action animate__animated animate__zoomIn" *ngIf="documentControls[i].value">
                    <div class="upload theme_dropshadow theme_dropshadow--tint">
                        <span class="material-icons">
                            cloud_upload
                            </span>
                    </div>

                </div>
            </div>
        </div>
    <div style="margin-top: 30px;">
        <app-button [form]="form" [loading$]="loading$" fieldClass="theme_col-3 no-margin--top">Next</app-button>
        
    </div>
    </app-form>
</div>