@import '../../../../styles/abstracts/_abstracts-dir';
@import '../../../../styles/themes/_theme-dir';
#document-upload{
    @include paddingVertical(false,"vh",1.5,0);
    #disclaimer{
        @include color(midGrey);
        @include marginVertical(false,"px",0,2);
        font-size: 1.2em;
    }
    .document{
        text-align: center;
        width: 22.5%;
        // min-width: 400px;
        // max-width: 500px;
        vertical-align: top;
        display: inline-block;
        margin-right:3.333333%;
        margin-bottom: map-get($sizings, "px")*2;
        &:nth-child(4n+1){
            margin-right: 0;
        }
        .heading{
        @include marginVertical(false,"px",0,1);
        small{  @include color(midGrey);}
        }
        .uploader{
        @include paddingHorizontal(true,"px",0.5);
        @include flex(true,center);
        flex-direction: column;
        height: 200px;
        @include border(2px,dashed,midGrey);
        border-radius: $border-radius;
        position: relative;
            .action{
                
                position: absolute;
                bottom: -25px;
                z-index: 4;
                @include flex(true,center);
                width: 100%;
                .upload{
                width: 40px; height: 40px; border-radius: 40px;
                @include flex(true,center);
                @include background(yellow);
                @include color(black);
                }
            }
        .icon{
            span{font-size: 3em; @include color(black);}
        }
        p{
            @include color(midGrey);
        }
        input{
            position: absolute;
            cursor: pointer;
            height: 100% !important;
            border:0 !important;
            width: 100% !important;
            top: 0;
            left: 0;
            background: transparent !important;
            z-index: 3 !important;
            outline: none !important;
            opacity: 0;
            &:hover, &:focus{
                position: absolute;
                height: 100% !important;
                border:0 !important;
                background: transparent !important;
                z-index: 3 !important;
                outline: none !important;
            }
        }
        }

        &.active{
            .uploader{
                @include border(2px,dashed,midYellow);
                .empty{
                    display: none;
                }
               .icon{
                span{font-size: 4em; @include color(yellow);}
            }
            p{
                @include color(yellow);
            }
                }
        }
    }
}

@media all and (max-width:900px){
    #document-upload{
    .document{
        width: 45%;
        margin-right:10%;
        &:nth-child(2n+1){
            margin-right: 0 !important;
        }
    }
}
}

@media all and (max-width:768px){
    #document-upload{
    .document{
        width: 100%;
        &:nth-child(n){
            margin-right: 0;
        }
    }
}
}