<div class="vc_form-field form_group no-margin--top" *ngIf="durations$|async as durations">
    <label for="duration">How long?</label>
    <div class="theme_row theme_flex--spacebetween form_group" [ngClass]="{'theme_flex': durations.length==3}"  id="duration">
       

        <div class=" theme_bg--lightgrey investment_rate {{dur.active?'active':''}}"  [ngClass]="{'investment_rate--inline': durations.length>3}" *ngFor="let dur of durations;  trackBy: trackByFn" (click)="activate(dur.value)">
            <app-ratecard [type]="type" [duration]="dur.value" [amount]="(amount$|async)" [active]="dur.active" (rateChange)="onChange($event)"></app-ratecard>
        </div>
        
    </div>
</div>