<ng-template #loanCard>
<!-- appTemplatePortal [outlet]="'LoanCard'" > -->
    <div class="card card-cta card-cta--active">
        <div class="thumbnail">
            <div class="image">
                <app-lottie [assetPath]="assetPaths.loan"></app-lottie>
            </div>
            <div>
                <h3>Get a loan</h3>
                <p>Quick and easy loans at your fingertips</p>
            </div>
        </div>
        <div class="actions" style="display: flex; justify-content: flex-end;">
            <button class="widget_button widget_button--small ">
                Get Started
            </button>
        </div>
    </div>
</ng-template>

<ng-template #investmentCard>
    <!-- appTemplatePortal [outlet]="'LoanCard'" > -->
        <div class="card card-cta">
            <div class="thumbnail">
                <div class="image">
                    <app-lottie [assetPath]="assetPaths.investment"></app-lottie>
                </div>
                <div>
                    <h3>Invest Now</h3>
                    <p>Grow your wealth, make money
                        moves</p>
                </div>
            </div>
            <div class="actions" style="display: flex; justify-content: flex-end;">
                <button class="widget_button widget_button--small ">
                    Get Started
                </button>
            </div>
        </div>
    </ng-template>