<app-customer-navigation></app-customer-navigation>
<div id="main-content">
  <!-- <div class="notifications" > -->
  <!-- *ngIf="!isGranted&&pwaAble" -->
  <app-banner *ngIf="!isGranted&&pwaAble&&isEnabled">
    <!-- <div class="d-flex d-flex_horizontal--space-between d-flex_vertical--center" > -->
    <ng-container slot="content">
      <h3 *ngIf="!isGranted">Get notified on your device whenever there are updates</h3>
      <p *ngIf="isGranted" class="success">
        Push Notifications are active
      </p>
    </ng-container>
    <!-- <p *ngIf="!isEnabled" class="error">
        Notifications are not available in the browser or enabled in the application
      </p> -->
    <ng-container slot="action">
      <app-button [class]="'widget_button--small no-margin'" *ngIf="!isGranted" [outline]="true" (onClick)="submitNotification()">
        <ng-container slot="button">Notify Me</ng-container>
      </app-button>
    </ng-container>
  </app-banner>
  <!-- </div> -->
  <app-customer-header></app-customer-header>
  <!-- <app-banner><ng-container slot="content"><p><b style="font-weight: 700;">Welcome to Vanaheim</b><span class="hide">, There’s something missing. Tap the button to finish setting up</span></p></ng-container><ng-container slot="action">
  <button (click)="reload()" class="widget_button widget_button--small">Complete your profile</button></ng-container></app-banner> -->
  <div style="display: flex; flex-direction: column; justify-content: center; height: 100%; position: relative;">
    <router-outlet></router-outlet>
  </div>
</div>


<app-side-nav [class]="'left'" *ngIf="(show$|async)=='mainNav'"></app-side-nav>

<app-side-personal *ngIf="(show$|async)=='personal'"></app-side-personal>
<app-side-nok *ngIf="(show$|async)=='nok'"></app-side-nok>
<app-side-account *ngIf="(show$|async)=='account'"></app-side-account>
<app-side-contact *ngIf="(show$|async)=='contact'"></app-side-contact>
<app-side-password *ngIf="(show$|async)=='password'"></app-side-password>
<app-side-bvn *ngIf="(show$|async)=='bvn'"></app-side-bvn>

<app-modal *ngIf="showInvalid$|async" (onChange)="closeInvalid()">
  <app-modal-header slot="header">
    <h3>Oops,Invalid Action</h3>
  </app-modal-header>
  <app-modal-body slot="body">
    <p style="text-align: center;"><b>You cannot continue to apply for another loan if you have a running or processing
        loan</b></p>
  </app-modal-body>
</app-modal>


<ng-container *ngIf="activeLoan$|async">
  <div class="snackbar_container " style="cursor: pointer;">
    <div class="snackbar snackbar-warning animate__animated animate__fadeInUp mt-3 mb-0 box-shadow"
      (click)="routeToPage()"><small><b>Click to continue your
          loan application</b></small>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="activeEarning$|async">
  <div class="snackbar_container " style="cursor: pointer;">
    <div class="snackbar snackbar-info animate__animated animate__fadeInUp mt-3 mb-0 box-shadow"
      (click)="routeToEarningPage()"><small><b>Click to continue your
          Earning application</b></small>
    </div>
  </div>
</ng-container>


<app-modal *ngIf="(showSuccess$|async)" (onChange)="close()">
  <app-modal-header slot="header">
      <div class="icon theme_flex theme_flex--middle" style="max-width: 150px; margin: auto; margin-top:-5%;">
          <app-lottie assetPath="vanir-capital-badge"></app-lottie>

      </div>
  </app-modal-header>
  <app-modal-body slot="body">

      <div class="modal_content" style="text-align: center;">
          <h1>Earnings Indication</h1>
          <div class="form_group">
              <p class="theme_text--heading theme_text--heading3">{{apiSuccess$|async}}</p>

          </div>
          <div class="form_group">
              <p class="theme_color--grey">In case of
                early liquidation, you are
                required to give one-month
                notice and the accrued
                interest in the applicable
                cycle will be forfeited.</p>
              <button class="widget_button" (click)="close()" id="submit" type="submit" style="margin: 5px auto;"
                  tabindex="0">
                  <div>Done</div>
              </button>
              <p class="theme_color--grey">Are you looking to get some funds? <span class="theme_color--yellow"><a
                          href="welcome/loans"><u>Go to Loans</u></a></span></p>

          </div>

      </div>


  </app-modal-body>
</app-modal>



<app-modal *ngIf="(show2$|async)" (onChange)="close()">
  <app-modal-header slot="header">
      <div class="icon theme_flex theme_flex--middle" style="max-width: 150px; margin: auto; margin-top:-5%;">
          <app-lottie assetPath="vanir-capital-error"></app-lottie>

      </div>
  </app-modal-header>
  <app-modal-body slot="body">

      <div class="modal_content" style="text-align: center;">

          <h1>Oops</h1>
          <div class="form_group">
              <p class="theme_text--heading theme_text--heading3">There seems to be a problem</p>
          </div>
          <div class="form_group">
              <p class="theme_color--grey">{{apiError$|async}} </p>
              <app-button (onClick)="close()">
                  <ng-container slot="button">Close</ng-container>
              </app-button>

          </div>
      </div>


  </app-modal-body>
</app-modal>