
<div id="document-upload" [ngClass]="{'disabled':!isLoggedIn}">
    <app-form [form]="form" [class]="'box-shadow content'" (onSubmit)="onSubmit($event)" (errorMessageChange) = "onError($event)">
        <p id="disclaimer" style="text-align: center; display: flex; align-items: center; justify-content: center;"><span class="material-icons" style="margin-right: 10px;">info</span><span>Only images and text documents are allowed</span></p>
    <div class="list" *ngFor="let req of requirements;let i =index" >
        <app-document title="{{req.title}}" fieldClass="document no-margin--top" description="{{req.description}}" [control]="documentControls[i]|toControl" (onChange)="onFileChange($event,i)">

    </app-document>
</div>
    <div style="margin-top: 30px;">
        <app-button [form]="form" [loading$]="loading$" fieldClass="theme_col-3 no-margin--top">Next</app-button>
        
    </div>
    </app-form>
</div>

<app-modal *ngIf="(show$|async)==true && !isLoggedIn" (onChange)="close()">
    <app-modal-header slot="header"><h1 id="req-icon"><span class="material-icons">
        info
        </span>
        </h1><h3>Sign In Required</h3></app-modal-header>
    <app-modal-body slot="body">
        <p style="text-align: center; margin: auto;">Sorry you can't upload a document without signing in.</p>
        <div style=" display: flex; width:100%; align-items: center; justify-content: center;">
        <p><b>Go to login</b></p> <button class="widget_button widget_button--small" style="margin-left: 10px;" (click)="login()">Login</button>
    </div>
    </app-modal-body>
</app-modal>


<app-modal *ngIf="(show2$|async)==true && !isLoggedIn" (onChange)="close()">
    <app-modal-header slot="header"><h1 id="req-icon"><span class="material-icons">
        info
        </span>
        </h1><h3>Attention</h3></app-modal-header>
    <app-modal-body slot="body">
        <p style="text-align: center; margin: auto;">Invalid file type</p>
        <div style=" display: flex; width:100%; align-items: center; justify-content: center;">
            <p>Only images and text documents allowed</p>
        </div>
    </app-modal-body>
</app-modal>