@import "../../../../../styles/abstracts/_abstracts-dir";
#main-content{
    display: flex;
  align-items: center;
  justify-content: center;
  @include paddingHorizontal(true,"px",1);
#no-data{
    width: 100%;


@include flex(true,center);
flex-direction: column;
text-align: center;
width: 80%;
margin: auto;
.image{
    width: 30px;
}
*{
    margin-bottom: 10px;
}
button{
    margin-top: 30px; border:0 !important;
}
}
}