<div class="contact_mobi theme_row theme_bg--lightgrey theme_flex theme_flex--spacebetween animate__animated animate__fadeInDown">
    <div class="theme_text--heading4" >
        <!-- <p><b>Need Help?</b></p> -->
        <div style="width:30px;"><img src="../../assets/telemarketer.svg" alt="Need Help?" aria-label="Contact Us"/> </div>
    </div>
    <div>
        <p class="theme_color--grey">Call Us On</p>
        <div class="bordered_anchor"><p style="font-weight: 600;" ><a href="tel:08180279270">08180279270</a></p></div>
    </div>
    <div>
        <p class="theme_color--grey">Email Us At</p>
        <div class="bordered_anchor"><p style="font-weight: 600;"><a href="mailto:support@vanircapital.org">support@vanircapital.org</a></p></div>
    </div>
</div>
<div class="widget_input contact animate__animated animate__zoomIn theme_dropshadow theme_dropshadow--tint" style="display: block; padding: 10px; position: fixed;right: 5% !important; width: 60px; z-index: 99999; ">
    <div class="theme_flex theme_flex--middle theme_flex--spacebetween">
    <div style="max-width:50px">
        <img src="../../assets/telemarketer.svg" alt="Vanir Capital Call Agent" />
    </div>
    <div class="hide" >
        <p>Contact Us</p>
    </div>
</div>
<div class="contact_content">
    <div style="margin-top: 20px;">
        <p class="theme_color--grey">Call Us On</p>
        <p style="font-weight: 600;">08180279270</p>
    </div>
    <div style="margin-top: 25px;" >
        <p class="theme_color--grey">Email Us At</p>
        <div class="bordered_anchor" style="border: 2px solid #333333; padding:5px 10px;"><p style="font-weight: 600;"><a href="mailto:support@vanircapital.org">support@vanircapital.org</a></p></div>
    </div>
    
</div>
</div>