@import '../../../styles/abstracts/_abstracts-dir';
@import '../../../styles/themes/_theme-dir';
.contact{display:block; transition: none !important;}
.contact,.scrolldown{position:fixed;bottom:5%;box-sizing:border-box;z-index:98;border-radius: $border-radius; cursor:pointer;border:2px solid map-get($colors, yellow) !important;transform:translateY(-30px);transition:ease-in-out 0.3s;background:map-get($colors, white)}
.scrolldown{display:none;bottom:2.5%}
.contact .contact_content{display:none;opacity:0;text-align:center!important}
.contact p{line-height:.8em}.contact_icon{width:40px;height:40px}
.contact:hover{height:250px;width:250px!important;padding-left:20px;transform:translateY(-50px);box-shadow:none;border-color:map-get($colors, yellow)!important}
.contact:hover .contact_content{display:block;opacity:1}
.contact .hide{display:none;opacity:0;margin-left:50px;animation:Expand 0.3s linear}
.contact_mobi{display:none;height:60px}

@keyframes Expand{0%{opacity:0;margin-left:500px}50%{display:block;opacity:.2;margin-left:50px}100%{display:block;margin-left:20px;opacity:1}}


@media all and (max-width:1233px){
    .contact{width:200px;right:2.5vw}
}

@media all and (max-width:768px){
    .contact{display:none!important}.contact_mobi{position:fixed;top: map-get($sizings, "px" )*3;z-index:999;font-size:13px;padding:10px 2.5%;align-items:center;display:flex;box-shadow:1px 1px 4px rgba(0,0,0,.3)}.contact_mobi p{padding:0;margin:0}

}

@media all and (max-width:280px){ 
    .contact_mobi{ font-size: 0.8em; } 
}