.investment {
    &_rate {
        * {
            transition: none !important;
        }
        border: 2px solid transparent;
        text-align: center;
        width: 30%;
        padding-top: 10px;
        padding-bottom: 0 !important;
        border-radius: 5px;
        /* height: auto !important; */
        max-height: 120px;
        /* transition:background ease-in-out 0.2s !important; */
        &:hover {
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.05);
            transform: scale(1.2);
            cursor: pointer;
        }
        &.active {
            background: #e6af2a;
            color: #fafafa;
            transform: scale(1.1);
        }
        &:not(.active):hover {
            border: 2px solid #333333;
        }
    }
}
.form_group {
    margin: 20px auto;
}
