@import './footer';
@import './navigation';
@import './side-navigation';
.grid-padding
{
   &-2x{
      @include paddingHorizontal(true,"%",1);
   }
   &-3x{
      @include paddingHorizontal(true,"%",0.5,$important:important);
   }
   &-4x{
      @include paddingHorizontal(true,"%",0.16667,$important:important);
   }
}
.d-flex{ 
   display: flex;
   &_horizontal{
      &--space-between{
         justify-content: space-between;
      }
      &--center{
         justify-content: center;
      }
      &--space-evenly{
         justify-content: space-evenly;
      }
   }

   &_vertical{
     
      &--center{
         align-items: center;
      }
      &--flex-end{
         align-items: flex-end;
      }
      &--flex-start{
         align-items: flex-start;
      }
   }
}
.content{
   // max-width: 480px;
   box-sizing: content-box;
   
 @include paddingVertical(false,"px",1,1);
 @include paddingHorizontal(true,"px",2);
   &--small{
      
 @include paddingVertical(false,"px",0.5,0.5);
 @include paddingHorizontal(true,"px",1);
   }
   &--smaller{
      
      @include paddingVertical(false,"px",0.5,0.5);
      @include paddingHorizontal(true,"px",0.5);
        }
 }
.margin{
   &--large{
      @include marginVertical(false,"px",2,0, $important:important);
   }
}



.padding{
   &--x{
      padding-top: map-get($sizings, "px")*0.25 !important;
      padding-bottom: map-get($sizings, "px")*0.25 !important;
   }
   &--2x{
     padding-top: map-get($sizings, "px")*0.5 !important;
     padding-bottom: map-get($sizings, "px")*0.5 !important;
  } 
  &--3x{
     padding-top: map-get($sizings, "px")*0.75 !important;
     padding-bottom: map-get($sizings, "px")*0.75 !important;
  }
}
.no-padding{
   padding: 0 !important;
&--top{
    padding-top: 0 !important;
}
&--bottom{
    padding-bottom: 0 !important;
}
&--left{
    padding-left: 0 !important;
}
&--right{
    padding-right: 0 !important;
}

}

.margin{
  &--x{
     margin-top: map-get($sizings, "px")*0.25 !important;
     margin-bottom: map-get($sizings, "px")*0.25 !important;
  }
  &--2x{
    margin-top: map-get($sizings, "px")*0.5 !important;
    margin-bottom: map-get($sizings, "px")*0.5 !important;
 } 
 &--3x{
    margin-top: map-get($sizings, "px")*0.75 !important;
    margin-bottom: map-get($sizings, "px")*0.75 !important;
 }
}
.no-margin{
      margin: 0 !important;
   &--top{
       margin-top: 0 !important;
   }
   &--bottom{
       margin-bottom: 0 !important;
   }
   &--left{
       margin-left: 0 !important;
   }
   &--right{
       margin-right: 0 !important;
   }
  
}
@media all and (max-width:1233px){
   .grid-padding-2x{
      @include paddingHorizontal(true,"%",0.25,$important:important)
   }
  
}

@media all and (max-width:768px){
   .grid-padding-3x{
      @include paddingHorizontal(true,"%",0.25,$important:important)
   }

   
.content{
   // max-width: 480px;
   box-sizing: content-box;
   
 @include paddingVertical(false,"px",0.5,0.5);
 @include paddingHorizontal(true,"%",0.25);
   &--small{
      
 @include paddingVertical(false,"px",0.5,0.5);
 @include paddingHorizontal(true,"%",0.25);
   }
   &--smaller{
      
      @include paddingVertical(false,"px",0.5,0.5);
      @include paddingHorizontal(true,"%",0.25);
        }
 }
}

