
 *{
    transition: none !important;
    }
.rate{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    font-weight: 700;
    
    transition:background ease-in-out 0.2s !important;
    }