<div id="login" class="grid-padding-2x ">
    <div class="container vc_animated vc_animated--fadeIn">

        <div class="content box-shadow animate__animated animate__fadeInUp">
            <div class="container-header text-center">
                <h3 class="title">Forgotten your password?</h3>
                <p>Don't worry. We have got you covered</p>
            </div>
            <app-form [form]="form" (onSubmit)="onSubmit($event)" (errorMessageChange)="onError($event)">
                <app-input fieldClass="no-margin--top" [focus$]="focus$" id="username"
                    placeholder="Enter your email or phone number" [control]="username" class="form-control"
                    [error]="(errorMessage$ | async)?.username">
                    <label for="username">Username</label>
                </app-input>

                <app-button fieldClass="no-margin--top" [loading$]="loading$" [form]="form">Reset Password</app-button>

                <div class="form_group" style="margin-top: 0; display: flex; justify-content: center;">
                    <div style=" display: flex; ">
                        <p><b>Go back to login</b></p> <button class="widget_button widget_button--small"
                            style="margin-left: 10px;"
                            (click)="onNavigate('auth/login',{username:username.value})">Login</button>
                    </div>
                </div>

            </app-form>
        </div>
    </div>
</div>