    
<div *ngIf="show" class="modal" style="position: fixed; z-index: 99999999999999 !important;">
    <div *ngIf="type=='investment-indication'" class="modal_investment-success theme_dropshadow modal_type">
        <div class="icon theme_flex theme_flex--middle">
            <!-- <div class="icon_image">
                <i class="fas fa-check theme_color--white"></i>
            </div> -->
            <lottie-player src="assets/animations/vanir-capital-badge.json"  background="transparent"  speed="1"  style="width: 100%;"  loop autoplay></lottie-player>
            <!-- <app-lottie [assetPath]="assetPaths.badge"></app-lottie>              -->
        </div>
        <div class="modal_content">
            <div class="theme_text--heading1">Investment Indication</div>
           
            <div class="form_group">
                <p class="theme_color--grey">You have successfully indicated your interest. We would contact you shortly. 😊</p>
                <!-- <button class="widget_button"  style="margin: 5px auto;" tabindex="0"><div>Continue</div></button> -->
                <app-button [options]="buttonOptions" (click)="close()"></app-button>
            </div>
        </div>
    </div>
</div>