@import '../../../../../styles/abstracts/_abstracts-dir';
@import '../../../../../styles/themes/_theme-dir';

.widget_button--small{
    background: map-get($colors, lightGrey);
    color: map-get($colors, black);
    border: none;
}

